.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding_right {
  padding-right: 8px;
}

.tab-icon {
  font-size: 20px;
}

.withcount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatCount {
  background: green;
  width: 17px !important;
  height: 17px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  margin-left: 8px;
}

.timeEnd {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.widthHalf {
  width: 70%;
  font-size: 12px;
}

.nameAvatar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  h2 {
    font-size: 0.94em;
    font-weight: bold;
  }
}

// ion-text {
//   font-size: 10px;
// }
// .sc-ion-label-ios-h {
//   height: 44px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }
