<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      ZooBC Chat
    </ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-searchbar mode="md" placeholder="Search your friend"></ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <!-- <content> -->
  <ion-segment
    color="primary"
    [(ngModel)]="chatContent"
    (ionChange)="segmentChanged($event)"
    scrollable
  >
    <ion-segment-button value="chats" checked>
      <ion-label>Chats</ion-label>
      <ion-icon name="chatboxes"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="contacts">
      <ion-label>Contact</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="chatContent">
    <ion-list *ngSwitchCase="'chats'">
      <ion-list-header>
        Recent Conversations
      </ion-list-header>

      <ion-item *ngFor="let sender of chatSenders; let i = index" (click)="openChatSession(sender, '')">
        <ion-avatar slot="start">
          <img src="../../assets/chat/user2.png" />
        </ion-avatar>
        <ion-label>
          <!-- <h2>{{ getName(sender)}}</h2> -->
          <h3>{{ sender | shortAddress }}</h3>
          <!-- <p>{{chat.message}}</p> -->
        </ion-label>
        <ion-label slot="end">
             <div style="text-align: right;"> ( {{chatGroup[sender].length}} ) </div>
        </ion-label>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'contacts'" class="ion-no-padding">
      <ion-item
        *ngFor="let contact of addresses; let idx = index"
        (click)="showSession(idx)"
      >
        <ion-avatar class="chatImage" slot="start">
          <ion-img src="../../assets/chat/user2.png"></ion-img>
        </ion-avatar>
        <ion-label>
          <div class="withcount">
            <div class="nameAvatar">
              <h2>{{contact.name}}</h2>
            </div>

            <div class="timeEnd">
              <!-- <ion-text slot="end">12.2.2</ion-text>
                    <ion-avatar class="chatCount">2</ion-avatar> -->
            </div>
          </div>
          <p>{{contact.address}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- </content> -->
</ion-content>
