<div *ngIf="account && account.address" class="sender-block" (click)="switchAccount($event)">
  <div class="account-name">{{ account.name }}</div>
  <div class="account-address">
    <span>{{ account.address.value }}</span>
    <ion-icon name="zbc-chevron-right" *ngIf="accountType=='normal'"></ion-icon>
  </div>
  <div class="account-balance" *ngIf="showBalance=='yes'">
    <app-info-amount-conversion [value]="account.balance / 1e8" otherCurrency="USD"></app-info-amount-conversion>
  </div>
</div>
<div *ngIf="!account" class="sender-block" (click)="switchAccount($event)">
  <div class="account-name">-- select one --</div>
</div>