<app-sidemenu></app-sidemenu>

<ion-content class="page-node-admin">
  <ion-list class="info-list">
    <ion-list-header>
      <ion-label>Global Information</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>
        <p class="info-label">CPU index number</p>
        <p class="info-desc">0</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">VendorID</p>
        <p class="info-desc">GenuineIntelFamily</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Number of cores</p>
        <p class="info-desc">2</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Model Name</p>
        <p class="info-desc">Intel(R) Core(TM) i3-3220 CPU @ 3.30GHz</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Hostname</p>
        <p class="info-desc">Sweets-Mac-Pro</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Number of processes running</p>
        <p class="info-desc">211</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">OS</p>
        <p class="info-desc">darwin</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Platform</p>
        <p class="info-desc">darwin</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">Host ID(uuid)</p>
        <p class="info-desc">FE3619E6-270B-34A6-BBD7-BED74EC32693</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top">
    <ion-list-header>
      <ion-label>Memory</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>Usage</ion-col>
          <ion-col class="ion-text-end">8GB / 100GB (50%)</ion-col>
        </ion-row>
        <ion-progress-bar value="0.2"></ion-progress-bar>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top">
    <ion-list-header>
      <ion-label>Storage</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>Usage</ion-col>
          <ion-col class="ion-text-end">8GB / 100GB (50%)</ion-col>
        </ion-row>
        <ion-progress-bar value="0.2"></ion-progress-bar>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-row>
          <ion-col>Usage</ion-col>
          <ion-col class="ion-text-end">8GB / 100GB (50%)</ion-col>
        </ion-row>
        <ion-progress-bar value="0.2"></ion-progress-bar>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
