.list-account-page {
  padding-bottom: 5rem;
  background-color: var(--ion-color-grey);

  ion-list {
    padding-top: 0;
    font-family: "Montserrat-Bold";
  }

  ion-list-header {
    --background: var(--ion-color-grey);
  }

  ion-item {
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .address {
      font-size: 1.2rem;
      color: var(--ion-color-success);
      margin-bottom: 0.5rem;
      white-space: normal;
      font-family: "Montserrat-Bold";
    }
    .created {
      font-size: 0.6rem;
    }
  }
}
