<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Rates</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>
 

    <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>


    <ion-card>
        <ion-card-header>
          Bar Chart
        </ion-card-header>
        <ion-card-content>
          <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-label>History Data</ion-label>
    <ion-list>
      <ion-item>
        Time | 
        Open |
        Close |
        High |
        Low |
        volumefrom |
        volumeto
      </ion-item>
      <ion-item button *ngFor="let item of (results | async)">
          <ion-label text-wrap>
            {{ item.time }} 
            | {{ item.open }} 
            | {{ item.close }}
            | {{ item.high }}
            | {{ item.low }}
            | {{ item.volumefrom }}
            | {{ item.volumeto }}
          </ion-label>
        </ion-item>
     
      </ion-list>


      
</ion-content>
