.list-account-page {
  padding-bottom: 5rem;
  background-color: var(--ion-color-grey);

  ion-list {
    padding-top: 0;
    font-family: "Montserrat-Bold";
  }

  ion-list-header {
    --background: var(--ion-color-grey);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;

    ion-label {
      font-size: 0.8rem;
    }
  }

  ion-item {
    > ion-label {
      display: flex;
      justify-content: space-between;
    }

    .item-left {
      .title {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        color: #333;
      }
      .address {
        font-size: 1rem;
        color: var(--ion-color-success);
        margin-bottom: 0.5rem;
        font-family: "Montserrat-Bold";
      }
    }
    .item-right {
      flex-shrink: 0;
      text-align: right;
      padding-left: 0.8rem;

      .main-balance {
        font-size: 1rem;
        margin-bottom: 0.2rem;
        font-family: "Montserrat-Bold";
        color: #333;
      }

      .sub-balance {
        font-size: 0.8rem;
        color: #666;
      }
    }
  }
}
