<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>List Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <ion-fab ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNewAccount()"
      ><ion-icon name="add"></ion-icon
    ></ion-fab-button>
  </ion-fab>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>You dont have any address</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="items.length >= 1; else noData">
      <ion-list-header>
        <ion-label
          >Here is the list of all addresses that are linked to your ZooBc
          Wallet</ion-label
        >
      </ion-list-header>
      <ion-item-sliding *ngFor="let item of items; let i = index" #slidingItem>
        <ion-item
          (click)="itemClicked(i)"
          button
          [lines]="i < items.length - 1 ? 'full' : 'none'"
        >
          <ion-label>
            <ion-label class="item-left">
              <ion-label class="title">{{ item.name }}</ion-label>
              <ion-label class="address"> {{ item.address }}</ion-label>
            </ion-label>

            <ion-label class="item-right">
              <div class="main-balance">
                {{ item.balance / 1e8 | number: "0.0-4" }} ZBC
              </div>
              <div class="sub-balance">
                {{ item.balance / 1e8 | activeCurrencyRate$ | async }}
              </div>
            </ion-label>
          </ion-label>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option (click)="editAccount(i, slidingItem)">
            <ion-icon slot="icon-only" name="create"></ion-icon
          ></ion-item-option>
          <ion-item-option (click)="share(item.address)">
            <ion-icon slot="icon-only" name="share"></ion-icon
          ></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
