 .list-account{
    ion-item {
      app-account-item{
        width: 100%;
      }

      > ion-label{
        display: flex;
        justify-content: space-between;
      }

      ion-icon{
        font-size: 18px;
      }
    }
}