<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "List of Account" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingBalance" style="margin-top:5px;">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-fab ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="createNewAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "You dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="accounts && accounts.length >= 1; else noData">
      <ion-list-header>
        <ion-label><span>{{"Tap list to switch account" | translate}}.</span></ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let account of accounts; let i = index">
        <ion-item>
          <ion-label (click)="accountClicked(account)">
            <div class="title" *ngIf="account.name">{{ account.name }} <span *ngIf="account.type==='multisig'"><i>(multisig)</i></span></div>
            <!-- <div class="address" *ngIf="account.type==='multisig'">(Multisig)</div> -->
            <div class="address">{{ account.shortAddress }}</div>
            <div class="title" *ngIf="!isLoadingBalance">
              {{account.balance / 1e8 | number: '0.0-2' }} ZBC
            </div>
            <!-- <div class="created">
              {{"Created"|translate}}: {{ account.created | date: "short" }}
            </div> -->
          </ion-label>
          <ion-icon slot="end" name="copy" (click)="copyAddress(account)"></ion-icon>
        </ion-item>
        <ion-item-options>
          <button color="success" (click)="editName(account)" class="tool">
            <ion-icon name="create"></ion-icon>{{ "Edit" | translate}}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>