<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'accounts' | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="!forWhat">
    <ion-row>
      <ion-col class="ion-text-end horizontalline" >
        <ion-button color="tertiary" (click)="createNewAccount()">
          <ion-icon name="add"></ion-icon> {{ 'add new account' | translate}}
        </ion-button>
        <ion-button color="tertiary" (click)="importAccount()">{{"import" | translate}}</ion-button>
        <ion-button color="tertiary" (click)="scanQrCode()">
          <ion-icon name="qr-scanner"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isLoadingBalance" class="isloading">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <div class="list-account-page no-data">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "you dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="accounts && accounts.length >= 1; else noData">
      <ion-list-header  *ngIf="forWhat==='account'">
        <ion-label><span>{{"Tap list to switch account" | translate}}.</span></ion-label>
      </ion-list-header>
 
        <ion-item *ngFor="let account of accounts; let idx = index">
          <ion-label >
            <div (click)="accountClicked(account)" class="title" *ngIf="account.name">{{ account.name }} <span *ngIf="account.type==='multisig'"><i>(multisig)</i></span></div>
            <div class="address ion-text-wrap" >
              <span (click)="accountClicked(account)">{{ account.address }}</span>
            </div>
            <div class="title" *ngIf="!isLoadingBalance">
              {{account.balance / 1e8 | number: '0.0-2' }} ZBC
            </div>
            <div>
              <ion-button *ngIf="!forWhat" (click)="editName(account)" class="tool" color="meddium">
                <ion-icon name="create"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!forWhat && account.type==='multisig'" (click)="viewAccount(account)" class="ion-text-right" color="meddium">
                <ion-icon name="eye"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!forWhat" (click)="editDataSet(account)" class="tool" color="meddium">
                <ion-icon name="albums"></ion-icon>
              </ion-button>
              <ion-button *ngIf="!forWhat && account.type==='multisig'" class="ion-text-right" (click)="deleteAccount(idx)" color="meddium">
                <ion-icon name="trash"></ion-icon>
              </ion-button>          
            </div>
          </ion-label>
          <ion-button slot="end" (click)="copyAddress(account)" class="ion-text-right" color="meddium">
            <ion-icon name="copy"></ion-icon>
          </ion-button>
        </ion-item>
      
    </ion-list>
  </div>
</ion-content>