<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "list of account" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button class="ion-text-right">{{ "import" | translate}}</ion-button>
  </ion-item>
  <div *ngIf="isLoadingBalance" style="margin-top:5px;">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-fab *ngIf="!forWhat" ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="createNewAccount()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="list-account-page" style="margin-bottom: 60px;">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "you dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="accounts && accounts.length >= 1; else noData">
      <ion-list-header  *ngIf="forWhat==='account'">
        <ion-label><span>{{"tap list to switch account" | translate}}.</span></ion-label>
      </ion-list-header>
      <ion-item-sliding *ngFor="let account of accounts; let i = index">
        <ion-item>
          <ion-label (click)="accountClicked(account)">
            <div class="title" *ngIf="account.name">{{ account.name }} <span *ngIf="account.type==='multisig'"><i>(multisig)</i></span></div>
            <div class="address">
              {{ shortAddress(account.address) }}
              <span class="icon-copy"><ion-icon name="copy" (click)="copyAddress(account)"></ion-icon></span>
            </div>
            <div class="title" *ngIf="!isLoadingBalance">
              {{account.balance / 1e8 | number: '0.0-2' }} ZBC
            </div>
          </ion-label>
          <ion-button *ngIf="!forWhat && account.type==='multisig'" class="ion-text-right" (click)="onDelete(account)" color="meddium">
            <ion-icon name="trash"></ion-icon>
          </ion-button>          
          <ion-button *ngIf="!forWhat" (click)="editName(account)" class="ion-text-right" color="meddium">
            <ion-icon name="create"></ion-icon>
          </ion-button>          
        </ion-item>
        <!-- <ion-item-options *ngIf="!forWhat" >
          <button color="success" (click)="editName(account)" class="tool">
            <ion-icon name="create"></ion-icon>{{ "Edit" | translate}}
          </button>
        </ion-item-options> -->
      </ion-item-sliding>
    </ion-list>

  </div>
</ion-content>