<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Address Book</ion-title>  
    </ion-toolbar>
 <!-- fab placed to the top end -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-header>

<ion-content>

   
    <!-- List of Text Items -->
    <ion-list>
      <ion-item>
        <ion-label>Madonna</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Stalone</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mark zubarger</ion-label>
        <ion-icon name="create" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Bill Git</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Yuni Shara</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
