<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ "send" | translate }}</ion-title>
    <ion-buttons color="primary" slot="end">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="isLoadingBalance || isLoadingTxFee">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        {{ "sign by account" | translate }}
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="12" style="border: 1px solid #cccccc">
        <ion-select interface="popover" [(ngModel)]="signBy" (ionChange)="changeSigner()">
          <ion-select-option *ngFor="let participant of participants; let idx = index;" value="{{participant}}">
            {{ participant }}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="signByAccount">
      <ion-col>
        <ion-label>
          <p>{{ "name" | translate }}: {{signByAccount.name}}</p>
          <p>{{ "balance" | translate}}: {{signByAccount.balance}} ZBC</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isValidSigner || !isBalanceNotEnough">
      <ion-col>
        <ion-label color="danger">
          <p *ngIf="!isValidSigner">{{ "signer is empty,  or the address is not your account!" | translate}}</p>
          <p *ngIf="!isBalanceNotEnough">{{ "balance is not enough" | translate}}</p>
        </ion-label>
      </ion-col>
    </ion-row>

    
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          {{ "commition fee" | translate }}
          <ion-text color="danger">*</ion-text>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-row-cont">
      <ion-col style="padding:0px;">
        <ion-select interface="popover" [(ngModel)]="optionFee" (ionChange)="changeFee()">
          <ion-select-option *ngFor="let sfee of allFees" value="{{sfee.fee}}">
            {{ sfee.name }} {{ sfee.fee | number: '0.0-4' }} ZBC
          </ion-select-option>
          <ion-select-option value="-1">
            {{ "custom fee" | translate}}
          </ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isValidFee">
      <ion-col>
        <ion-label color="danger">
          {{ "commitin fee is not valid!" | translate}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="customeChecked" class="ion-row-cont" style="margin-bottom:10px;margin-top:10px">
      <ion-col size="8" style="padding-left:10px">
        <ion-input placeholder="{{'Enter fee'|translate}}" class="ion-text-right"
          style="border-bottom: 1px solid #dddddd;font-size:1.2em; color:#0B3D65" (ionChange)="validateCustomFee()"
          maxlength="12" type="number" [(ngModel)]="customfeeTemp">
        </ion-input>
        <ion-input value="{{ customfee2  | number: '0.0-6'}}" style="font-size:0.9em" class="ion-text-right" readonly
          type="text">
        </ion-input>
      </ion-col>
      <ion-col size="2" style="font-size: 0.8em; padding-left: 8px;">
        <div style="margin-top:16px; color:#0B3D65">{{primaryCurr}}</div>
        <div style="margin-top:24px; font-size: 0.8em;">{{secondaryCurr}}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isCustomFeeValid">
      <ion-col>
        <ion-label color="danger">{{ "transaction fee is not valid! minimum fee is" | translate}} {{ minimumFee }}
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="margin-top:20px;">
    <ion-row>
      <ion-col>
        <!-- <ion-button color="secondary" *ngIf="!isLoadingBalance && !isLoadingTxFee" (click)="saveDraft()" expand="block">
          {{ "Save Draft" | translate }}
        </ion-button>
        <ion-button disabled color="secondary" *ngIf="isLoadingBalance || isLoadingTxFee" expand="block">
          {{ "Save Draft" | translate }}
        </ion-button> -->
        <ion-button color="secondary" *ngIf="!isLoadingBalance && !isLoadingTxFee" (click)="sendTransaction()"
          expand="block">
          {{ "send" | translate }}
        </ion-button>
        <ion-button disabled color="secondary" *ngIf="isLoadingBalance || isLoadingTxFee" expand="block">
          {{ "send" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>