<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ "send money" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="stepper">
    <ng-container>
      <div class="step">
        <span class="step-circle">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <span class="step-label">{{ 'add multisig info' | translate }}</span>
      </div>
      <div class="stepper-line"></div>
    </ng-container>
    <ng-container>
      <div class="step">
        <span class="step-circle">
          <ion-icon name="checkmark-circle"></ion-icon>
        </span>
        <span class="step-label">{{ 'create transaction' | translate }}</span>
      </div>
      <div class="stepper-line"></div>
    </ng-container>
    <ng-container>
      <div class="step active">
        <span class="step-circle">
          <ion-icon name="radio-button-on"></ion-icon>
        </span>
        <span class="step-label">{{ 'send multisignature' | translate }}</span>
      </div>
    </ng-container>
  </div>
  <br />

  <form [formGroup]="formSend" (ngSubmit)="submit()" novalidate>

    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">{{"sender" | translate}}</ion-label>
      <app-form-sender formControlName="sender" accountType="normal" canSwitch="yes" switchToActive="no"
        *ngIf="participants" predefList="{{participants}}" ngDefaultControl required></app-form-sender>
      </ion-item>

    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">{{ "fee" | translate }}</ion-label>
      <ion-input class="fee" formControlName="fee" type="number" required></ion-input>
      <ng-container *ngIf="( fFee.dirty || fFee.touched) && fFee.invalid">
        <ion-text class="text-error" *ngIf="fFee.errors.required">
          {{ "transaction fee cannot be empty" | translate}}
        </ion-text>
        <ion-text class="text-error" *ngIf="fFee.errors.min">
          {{ "transaction fee is not valid! minimum fee is" | translate}} {{ fFee.errors.min.min }}
        </ion-text>
      </ng-container>
    </ion-item>

    <ion-item>
      <ion-button type="submit" size="medium" expand="full" color="tertiary">
        {{ 'send' | translate }}
      </ion-button>
    </ion-item>

  </form>
</ion-content>