<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="address-book"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="zbc-content-style-1">
  <form
    [formGroup]="addressForm"
    (ngSubmit)="onSubmit(addressForm.value)"
    #myForm="ngForm"
  >
    <div class="content-inner add-address-page">
      <div class="zbc-form-item">
        <ion-item lines="none">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-input
            placeholder="Enter name"
            formControlName="name"
          ></ion-input>
        </ion-item>
      </div>
      <div class="zbc-form-item last">
        <ion-item lines="none">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-input
            placeholder="Enter wallet address"
            formControlName="address"
          ></ion-input>
          <ion-button slot="end" (click)="scanAddress()">
            <ion-icon name="qr-scanner"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

    <ion-button
      [disabled]="!addressForm.valid"
      class="zbc-button-full ion-margin-top"
      color="primary"
      type="submit"
      expand="full"
      >Submit
    </ion-button>

    <div class="ion-text-center">
      <ion-button
        class="zbc-button-full ion-margin-top"
        fill="clear"
        color="medium"
        (click)="close()"
        type="button"
        >Close
      </ion-button>
    </div>
  </form>
</ion-content>
