<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>Feedback</ion-title>  
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <form >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Subject<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Message<ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea rows="4"></ion-textarea>
      </ion-item>
    </ion-list>


    <div padding>

        <ion-row>          
            <ion-col col-12 text-center>
                <ion-button
                color="secondary"
                (click)="addAddress()"
                type="submit"
                expand="block"><b>Save</b>
              </ion-button>        
            </ion-col>
        </ion-row>
    
    </div>


  </form>
</ion-content>
