<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Address Book" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">

  <ion-fab ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="createNewAddress()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="address-book-list">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "You dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="addresses && addresses.length >= 1; else noData">
      <ion-item-sliding *ngFor="let address of addresses; let i = index">
        <ion-item>
          <ion-label (click)="selectAddress(address)">
            <p>{{ address.name }}</p>
            <p>{{ address.address }}</p>
          </ion-label>
          <ion-icon slot="end" name="copy" (click)="copyAddress(i)"></ion-icon>
        </ion-item>
        <ion-item-options>
          <button color="success" (click)="editAddress(i)" class="tool">
            <ion-icon name="create"></ion-icon>{{ "Edit" | translate }}
          </button>
          <button color="danger" (click)="deleteAddress(i)" class="tool">
            <ion-icon name="trash"></ion-icon>{{ "Delete" | translate }}
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>