.page-send {
  .label {
    font-size: 0.8rem;
  }
  .account {
    border: 1px solid #dedede;
    border-radius: 4px;
  }

  .f-group {
    margin-bottom: 1.6rem;

    p.label {
      margin-bottom: 0.3rem;
    }

    .row-recipient {
      ion-col {
        flex-shrink: 1;
        flex-grow: 0;
        ion-item {
          --inner-padding-end: 0;
        }
      }
      .col-recipient {
        flex-grow: 1;
      }
    }
  }

  ion-grid {
    --ion-grid-padding: 0;
  }

  ion-col {
    --ion-grid-column-padding: 0;
  }

  /*ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }*/

  .btn-icon {
    background-color: transparent;
    font-size: 1.6rem;
  }

  ion-input {
    border-bottom: 1px solid #d8d8d8;
  }
}
