<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content-darker" class="page-send">
  <form [formGroup]="sendForm" (ngSubmit)="onSubmit()">
    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <p class="label">{{ "Account" | translate }}</p>
        <ion-item button="true" color="content-default" lines="none">
          <ion-label>
            <form-select-account formControlName="sender"></form-select-account>
          </ion-label>
        </ion-item>
      </div>
      <div
        class="error ion-padding-start ion-padding-end"
        *ngIf="
          sendForm.get('sender').hasError('required') &&
          (sendForm.get('sender').dirty || sendForm.get('sender').touched)
        "
      >
        Please select an account
      </div>
    </div>

    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <p class="label">{{ "Recipient" | translate }}</p>
        <ion-item lines="none" color="content-default">
          <ion-input
            formControlName="recipient"
            placeholder="{{ 'Enter recipient' | translate }}"
          ></ion-input>

          <button class="btn-search" (click)="presentRecipientActionSheet()">
            Search
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-item>
      </div>
      <div
        class="ion-padding-start ion-padding-end error"
        *ngIf="
          sendForm.get('recipient').hasError('required') &&
          (sendForm.get('recipient').dirty || sendForm.get('recipient').touched)
        "
      >
        Please enter a recipient
      </div>
      <ion-item lines="none" color="content-default">
        <ion-label>Save to address book</ion-label>
        <ion-checkbox
          slot="start"
          formControlName="saveToAddreesBook"
        ></ion-checkbox>
      </ion-item>
      <ng-container *ngIf="sendForm.get('saveToAddreesBook').value">
        <div class="form-item">
          <ion-label class="label">{{ "Alias" | translate }}</ion-label>
          <ion-item lines="none" color="content-default">
            <ion-input
              formControlName="alias"
              type="text"
              placeholder="{{ 'Enter an alias' | translate }}"
            ></ion-input>
          </ion-item>
        </div>
        <div
          class="error ion-padding-start ion-padding-end"
          *ngIf="
            sendForm.get('alias').hasError('required') &&
            (sendForm.get('alias').dirty || sendForm.get('alias').touched)
          "
        >
          Please enter an alias
        </div>
      </ng-container>
    </div>

    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item form-amount">
        <p class="label">Amount</p>

        <ion-item color="content-default" lines="none">
          <ion-input
            placeholder="Enter amount"
            (ionChange)="onAmountKeyUp()"
            formControlName="amount"
            type="number"
          ></ion-input>
          <ion-select
            formControlName="amountCurr"
            placeholder="Currency"
            (ionChange)="onAmountKeyUp()"
            interface="action-sheet"
          >
            <ion-select-option value="ZBC">ZBC</ion-select-option>
            <ion-select-option value="USD">USD</ion-select-option>
            <ion-select-option value="IDR">IDR</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div
        class="ion-padding-start ion-padding-end error"
        *ngIf="
          (sendForm.get('amount').hasError('required') ||
            sendForm.get('amount').value < 0) &&
          (sendForm.get('amount').dirty || sendForm.get('amount').touched)
        "
      >
        Please enter an amount
      </div>

      <div class="ion-padding-start ion-padding-end note">
        The amount will be
        <strong
          >{{ conversionValue.amount.ZBC | number: "1.2-2" }} in ZBC</strong
        >
        or
        <strong
          >{{
            conversionValue.amount[this.activeCurrency] | number: "1.2-2"
          }}
          in {{ this.activeCurrency }}</strong
        >
      </div>
    </div>

    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <ion-label class="label">{{ "Fee" | translate }}</ion-label>

        <form-fee
          placeholder="0.005"
          formControlName="fee"
          [fees]="fees"
          (changed)="onFeeChanged($event)"
        ></form-fee>
      </div>
      <div
        class="ion-padding-start ion-padding-end error"
        *ngIf="
          (sendForm.get('fee').hasError('required') ||
            sendForm.get('fee').value <= 0) &&
          (sendForm.get('fee').dirty || sendForm.get('fee').touched)
        "
      >
        Please enter a fee
      </div>
      <div class="ion-padding-start ion-padding-end note">
        The fee will be
        <strong>{{ conversionValue.fee.ZBC | number: "1.2-5" }} in ZBC</strong>
        or
        <strong
          >{{ conversionValue.fee[this.activeCurrency] | number: "1.2-5" }} in
          {{ this.activeCurrency }}</strong
        >
      </div>
    </div>

    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <ion-item lines="none" color="content-default">
          <ion-label>Use Approver</ion-label>
          <ion-checkbox
            slot="start"
            formControlName="useApprover"
          ></ion-checkbox>
        </ion-item>
      </div>

      <ng-container
        *ngIf="sendForm.get('useApprover').value"
        formGroupName="approver"
      >
        <div class="form-item ion-margin-top">
          <p class="label">Approver Address</p>
          <ion-item lines="none" color="content-default">
            <ion-input
              formControlName="address"
              placeholder="{{ 'Enter recipient' | translate }}"
            ></ion-input>

            <button class="btn-search" (click)="presentRecipientActionSheet()">
              Search
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-item>
        </div>

        <div class="form-item ion-margin-top">
          <p class="label">Approver Commision</p>
          <ion-item color="content-default" lines="none">
            <ion-input
              formControlName="commision"
              placeholder="Enter amount"
              (ionChange)="onAmountKeyUp()"
              type="number"
            ></ion-input>
          </ion-item>
        </div>

        <div class="form-item ion-margin-top">
          <p class="label">Timeout</p>
          <ion-item color="content-default" lines="none">
            <ion-label>Set timeout</ion-label>
            <ion-select
              placeholder="How many days"
              (ionChange)="onAmountKeyUp()"
              interface="action-sheet"
            >
              <ion-select-option value="1">1 day</ion-select-option>
              <ion-select-option value="2">2 days</ion-select-option>
              <ion-select-option value="3">3 days</ion-select-option>
              <ion-select-option value="4">4 days</ion-select-option>
              <ion-select-option value="5">5 days</ion-select-option>
              <ion-select-option value="6">6 days</ion-select-option>
              <ion-select-option value="7">7 days</ion-select-option>
              <ion-select-option value="8">8 days</ion-select-option>
              <ion-select-option value="9">9 days</ion-select-option>
              <ion-select-option value="10">10 days</ion-select-option>
              <ion-select-option value="11">11 days</ion-select-option>
              <ion-select-option value="12">12 days</ion-select-option>
              <ion-select-option value="13">13 days</ion-select-option>
              <ion-select-option value="14">14 days</ion-select-option>
              <ion-select-option value="15">15 days</ion-select-option>
              <ion-select-option value="16">16 days</ion-select-option>
              <ion-select-option value="17">17 days</ion-select-option>
              <ion-select-option value="18">18 days</ion-select-option>
              <ion-select-option value="19">19 days</ion-select-option>
              <ion-select-option value="20">20 days</ion-select-option>
              <ion-select-option value="21">21 days</ion-select-option>
              <ion-select-option value="22">22 days</ion-select-option>
              <ion-select-option value="23">23 days</ion-select-option>
              <ion-select-option value="24">24 days</ion-select-option>
              <ion-select-option value="25">25 days</ion-select-option>
              <ion-select-option value="26">26 days</ion-select-option>
              <ion-select-option value="27">27 days</ion-select-option>
              <ion-select-option value="28">28 days</ion-select-option>
              <ion-select-option value="29">29 days</ion-select-option>
              <ion-select-option value="30">30 days</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="form-item ion-margin-top">
          <p class="label">Instructions</p>
          <ion-item color="content-default" lines="none">
            <ion-input
              formControlName="instruction"
              placeholder="Enter an instruction"
            ></ion-input>
          </ion-item>
        </div>
      </ng-container>
    </div>

    <ion-button
      class="ion-margin-start ion-margin-end ion-margin-top"
      expand="block"
      type="submit"
      >{{ "Send" | translate }}
    </ion-button>

    <div class="ion-text-center">
      <ion-button
        (click)="resetForm()"
        class="zbc-button-full ion-margin-top"
        fill="clear"
        color="medium"
        type="button"
        >{{ "Reset Form" | translate }}
      </ion-button>
    </div>
  </form>
</ion-content>
