<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-send">
  <form [formGroup]="sendForm" (ngSubmit)="onSubmit()">
    <div class="f-group">
      <p class="label ion-padding-start ion-padding-end">
        {{ "Select an account to debit" || translate }}:
      </p>
      <ion-item button="true">
        <ion-label>
          <form-select-account formControlName="sender"></form-select-account>
        </ion-label>
      </ion-item>
    </div>

    <div class="f-group">
      <ion-grid>
        <ion-row class="row-recipient" align-items-end justify-content-between>
          <ion-col class="col-recipient">
            <ion-item lines="none">
              <ion-label position="stacked"
                >{{ "Recipient" | translate }}:</ion-label
              >
              <ion-input formControlName="recipient"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <button (click)="scanQrCode()" type="button" class="btn-icon">
              <ion-icon name="qr-scanner"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <button class="btn-icon" type="button" (click)="openAddresses()">
              <ion-icon name="bookmarks"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="f-group">
      <ion-list>
        <ion-item lines="none">
          <ion-label position="stacked">{{ "Amount" | translate }}:</ion-label>
          <ion-input formControlName="amount" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Fee" | translate }}:</ion-label>
        <ion-input formControlName="fee" type="number"></ion-input>
      </ion-item>
    </div>

    <div class="zbc-button-container" padding>
      <ion-button class="zbc-button" type="submit"
        >{{ "Send" | translate }}
      </ion-button>
    </div>

    <ion-item>
      <ion-label>{{ status }}</ion-label>
    </ion-item>
  </form>
</ion-content>
