.page-send {
  .form-item {
    .amount {
      .primary-amount {
        font-size: 1.1rem;
        margin-bottom: 0.2rem;
      }
      .secondary-amount {
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
      }
    }

    &.form-amount {
      ion-item {
        align-items: center;
      }
      ion-input {
        font-size: 1.6rem;
      }
    }
  }

  .btn-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
    flex-shrink: 0;
    margin-left: 1rem;
    background-color: transparent;
  }

  .save-address-button {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    span {
      margin-left: 0.4rem;
    }
  }

  .account {
    border: 1px solid #dedede;
    border-radius: 4px;
  }

  /*
  .f-group {
    margin-bottom: 1.6rem;

    p.label {
      margin-bottom: 0.3rem;
    }

    .row-recipient {
      ion-col {
        flex-shrink: 1;
        flex-grow: 0;
        ion-item {
          --inner-padding-end: 0;
        }
      }
      .col-recipient {
        flex-grow: 1;
      }
    }
  }*/

  ion-grid {
    --ion-grid-padding: 0;
  }

  ion-col {
    --ion-grid-column-padding: 0;
  }

  /*ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }*/

  .btn-icon {
    background-color: transparent;
    font-size: 1.6rem;
  }
}
