<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-send" padding="true">
  <form [formGroup]="sendForm" (ngSubmit)="onSubmit()">
    <ion-label>{{ "Select an account to debit" || translate }}:</ion-label>
    <ion-item lines="none" button="true" no-padding>
      <ion-label>
        <form-select-account formControlName="sender"></form-select-account>
      </ion-label>
    </ion-item>

    <div class="f-group">
      <ion-grid>
        <ion-row align-items-end justify-content-between>
          <ion-col class="ion-text-start">
            <ion-item lines="none">
              <ion-label position="stacked"
                >{{ "Recipient" | translate }}:</ion-label
              >
              <ion-input formControlName="recipient"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-text-end" size="4">
            <ion-grid>
              <ion-row nowrap align-items-end>
                <ion-col size="6">
                  <button (click)="scanQrCode()" type="button" class="btn-icon">
                    <ion-icon name="qr-scanner"></ion-icon>
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button
                    class="btn-icon"
                    type="button"
                    (click)="openAddresses()"
                  >
                    <ion-icon name="bookmarks"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Amount" | translate }}:</ion-label>
        <ion-input formControlName="amount" type="number"></ion-input>
      </ion-item>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Fee" | translate }}:</ion-label>
        <ion-input formControlName="fee" type="number"></ion-input>
      </ion-item>
    </div>

    <div padding>
      <ion-button size="large" type="submit" expand="block"
        >{{ "Send" | translate }}
      </ion-button>
    </div>

    <ion-item>
      <ion-label>{{ status }}</ion-label>
    </ion-item>
  </form>
</ion-content>
