<ion-list class="info-list">
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p class="info-label">{{ "approver" | translate }}</p>
      <div class="info-val">
        <app-info-address name="{{ values.approver.name }}" address="{{ values.approver.address }}">
        </app-info-address>
      </div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p class="info-label">{{ "approver commission" | translate }}</p>
      <div class="info-val">
        <app-info-amount-conversion value="{{ values.commission }}" otherCurrency="USD"
          otherCurrencyDecoration="BRACKET">
        </app-info-amount-conversion>
      </div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p class="info-label">{{ "timeout" | translate }}</p>
      <div class="info-val">
        {{ values.timeout }}
      </div>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="ion-text-wrap">
      <p class="info-label">{{ "instruction" | translate }}</p>
      <div class="info-val">
        {{ values.instruction }}
      </div>
    </ion-label>
  </ion-item>
</ion-list>