<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goDashboard()"> <h3><</h3></ion-button>
    </ion-buttons>
    <ion-title>{{ "Transactions" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="isLoadingRecentTx">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <ion-label *ngIf="isError" color="danger" class="ion-text-center">
    <h2>{{ errorMsg }}</h2>
  </ion-label>

  <p *ngIf="unconfirmTx && unconfirmTx.length > 0" class="title-section ion-padding-horizontal">
    {{ "Queue" | translate }} ({{unconfirmTx.length}})
  </p>
  <ion-list *ngIf="unconfirmTx && unconfirmTx.length > 0" class="ion-margin-top list-transaction">
    <ion-item *ngFor="let pendingtrx of unconfirmTx; let i = index" button (click)="openDetailUnconfirm(pendingtrx)">
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col size="7">
            <ion-label *ngIf="pendingtrx.name" class="title">
              {{ pendingtrx.name }}
            </ion-label>
            <ion-label *ngIf="!pendingtrx.name" class="title">
              {{ pendingtrx.shortaddress }}
            </ion-label>
            <ion-label class="date" style="font-size: 0.7em">{{
                  pendingtrx.timestamp | date: "short"
                }} <span style="color:orange">{{ "Pending" | translate }}</span>
              <!-- <ion-spinner name="lines-small" style="width: 15px !important; height: 15px !important;"></ion-spinner> -->
            </ion-label>
          </ion-col>
          <ion-col size="5" class="ion-text-end">
            <ion-label class="amount pending">
              {{ pendingtrx.amount / 1e8 | number: '0.0-6' }} <span style="color:grey">ZBC</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <h3 class="title-section ion-padding-horizontal">
    {{ "Transaction(s) History" | translate }}
  </h3>
  <ion-list *ngIf="recentTx && recentTx.length === 0" class="ion-margin-top list-transaction">
    <ion-item class="ion-text-center">
      <ion-label>
        <br/> <br/>
          You don't have any transaction. 
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="ion-margin-top list-transaction">
    <ion-item *ngFor="let transaction of recentTx; let i = index" button (click)="openDetailTransction(transaction)">
      <ion-label *ngIf="transaction.name" class="title">
        <h3>{{ transaction.name }}</h3>
        <p>{{
          transaction.timestamp | date: "short"
          }}</p>
      </ion-label>
      <ion-label *ngIf="!transaction.name" class="title">
        <h3>{{ transaction.shortaddress }}</h3>
        <p>{{
          transaction.timestamp | date: "short"
          }}</p>
      </ion-label>

       <!-- <ion-icon *ngIf="transaction.type==='send'" name="arrow-round-up" color="danger"></ion-icon> -->
      <!-- <ion-icon *ngIf="transaction.type!=='send'" name="arrow-round-down" color="success"></ion-icon> -->
     
      <ion-text class="amount {{ transaction.type }}">
        <span *ngIf="transaction.type==='send'">-</span>
        <span *ngIf="transaction.type !=='send'">+</span>
        {{ transaction.amount / 1e8 | number: '0.0-6' }} <span style="color:grey; font-size:0.7em">ZBC</span>
      </ion-text>

    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>