<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "transactions" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="{{ 'Refreshing' | translate }} ...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-label *ngIf="isError" color="danger" class="ion-text-center">
    <h2>{{ errorMsg }}</h2>
  </ion-label>

  <h3 *ngIf="unconfirmTxs && unconfirmTxs.length > 0" class="ion-padding-horizontal">
    {{ "Pending Transactions" | translate }}
  </h3>
  <ion-list *ngIf="unconfirmTxs && unconfirmTxs.length > 0" class="ion-margin-top">
    <ion-item *ngFor="let pendingtrx of unconfirmTxs; let i = index" button (click)="openDetailUnconfirm(pendingtrx)">
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col size="7">
            <ion-label *ngIf="pendingtrx.name" class="title">
              {{ pendingtrx.name }}
            </ion-label>
            <ion-label class="title">
              {{ pendingtrx.shortaddress }}
            </ion-label>
            <ion-label class="date" style="font-size: 0.7em">{{
                  pendingtrx.timestamp | date: "short"
                }} <span style="color:orange">{{ "Pending" | translate }}</span>
              <!-- <ion-spinner name="lines-small" style="width: 15px !important; height: 15px !important;"></ion-spinner> -->
            </ion-label>
          </ion-col>
          <ion-col size="5" class="ion-text-end">
            <ion-label class="amount pending">
              {{ pendingtrx.amount / 1e8 | number: '0.0-6' }} <span style="color:grey">ZBC</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!isLoadingRecentTx && recentTxs && recentTxs.length === 0" class="ion-margin-top">
    <ion-item class="ion-text-center">
      <ion-label>
        <br /> <br />
        {{ "you don't have any transaction." | translate}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-margin-top transaction-list">
    <ng-container *ngIf="isLoadingRecentTx; else transactionList">
      <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <app-skeleton-transaction></app-skeleton-transaction>
      </ion-item>
    </ng-container>
    <ng-template #transactionList>
      <ng-container *ngIf="recentTxs && recentTxs.length>=1; else noTransaction">
        <ion-item *ngFor="let transaction of recentTxs; let i = index" button
          (click)="goToTransactionDetail(transaction.id)">
          <app-transaction-item [transaction]="transaction"></app-transaction-item>
        </ion-item>
      </ng-container>
    </ng-template>
    <ng-template #noTransaction>
      <ion-item>
        <ion-label>You don't have any transctions</ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>