ion-content {
  --background: #fff;
}

.transaction-list {
  background-color: transparent;

  ion-item {
    --background: transparent;

    app-transaction-item,
    app-skeleton-transaction {
      width: 100%;
    }
  }
}