<ion-header no-shadow no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>      
      <ion-title>{{ "setup pin" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding background-pin" fullscreen>
    <ion-progress-bar *ngIf="processing" color="light" type="indeterminate"></ion-progress-bar>

    <ng-template [ngIf]="pagePosition === 0">
      <ion-label color="light">
        <p class="ion-text-center">{{ "set your pin" | translate }}</p>
      </ion-label>
        <app-pin (ionChange)="setupPin($event)"></app-pin>
    </ng-template>

    <ng-template [ngIf]="pagePosition === 1">
      <ion-label color="light">
        <p class="ion-text-center">{{ "confirm your pin" | translate }}</p>
      </ion-label>
        <p *ngIf="loginFail" class="ion-text-center invalidPin">{{ "invalid pin" | translate }}</p>
        <app-pin (ionChange)="confirmPin($event)"></app-pin>
    </ng-template>
  </ion-content>
  