<ion-list class="form-list">
  <ion-item lines="none" class="form-item">
    <ion-label position="stacked">{{ 'approver' | translate }}</ion-label>
    <app-form-get-address [(ngModel)]="escrow.approver" (keyup)="changeForm()"></app-form-get-address>
    <ion-text class="text-error" *ngIf="errors && errors.approverAddressRequired">
      {{ "address cannot be empty" | translate}}
    </ion-text>
    <ion-text class="text-error" *ngIf="errors && errors.approverAddressFormat">
      {{ "address is wrong" | translate}}
    </ion-text>
  </ion-item>

  <ion-item lines="none" class="form-item">
    <ion-label position="stacked">{{ "approver commission" | translate }} </ion-label>
    <app-form-amount-conversion (keyup)="changeForm()" [(ngModel)]="escrow.commission">
    </app-form-amount-conversion>

    <ion-text class="text-error" *ngIf="errors && errors.commission">
      {{ "approver commission is wrong" | translate}}
    </ion-text>
  </ion-item>

  <ion-item lines="none" class="form-item">
    <ion-label position="stacked">{{ "timeout" | translate }}</ion-label>
    <ion-input placeholder="{{ 'enter timeout' | translate }}" class="ion-text-right" type="number" (ionChange)="changeForm()"
      [(ngModel)]="escrow.timeout">
    </ion-input>
    <ion-text>{{ "block height" | translate}}: {{ blockHeight | number: '0.0-2' }}</ion-text>

    <ion-text class="text-error" *ngIf="errors && errors.timeoutRequired">
      {{ "timeout is required" | translate}}
    </ion-text>
    <ion-text class="text-error" *ngIf="errors && errors.timeoutMin">
      {{ "minimum timeout is 1" | translate}}
    </ion-text>
    <ion-text class="text-error" *ngIf="errors && errors.timeoutMax">
      {{ "maximumm timeout is 750" | translate}}
    </ion-text>
  </ion-item>

  <ion-item lines="none" class="form-item">
    <ion-label position="stacked">{{ "instruction" | translate }}</ion-label>
    <ion-textarea rows="4" maxlength="60" [(ngModel)]="escrow.instruction" (ionChange)="changeForm()"
      placeholder="{{ 'enter instruction' | translate }}">
    </ion-textarea>
  </ion-item>
</ion-list>