ion-textarea {
  --background: #fff;
  --color: #333;
  --border-radius: 10px;

  margin-bottom: 1rem;
}

ion-col{
  font-size: 0.8em;
}

ion-input{
  border: 1px solid #cccccc;
  // font-size: 0.8em;
}