.pin-title{
    color: var(--text-color-disabled);
    font-size: 1.4rem;
}

.errormsg{
    color: var(--pin-wrong-text-color);
}

.cTop{
    padding-top:20px;
    // height: 100px;
    // vertical-align: bottom;
}
