
.ion-input-readonly{
    font-size: 0.8em;
    border: 1px solid #838383; 
    --background: #E2DCDE;
}

.ion-input-normal{
    --border-color:#dcd8d9;
    --border-radius: 5px;
    --border-width: 2px;
    --box-shadow: 1px gray;
    --highlight-height: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
}

.ion-input-normal:hover {
    --border-color:#89168c;
    --border-radius: 5px;
    --border-width: 2px;
    --box-shadow: 1px gray;
    --highlight-height: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.ion-input-submit{
    margin-top:30px;
    margin-bottom: 50px;
}

.ion-input-label{
    font-weight: bold;
}
.head-note{
    color: grey;
    margin-bottom: 50px;
}
ion-grid {
    margin-left: 10px;
    margin-right: 10px;
}

ion-col{
    text-align: center;
}