
.ion-input-readonly{
    font-size: 0.8em;
    border: 1px solid #838383; 
    --background: #E2DCDE;
}

.ion-input-normal{
    font-size: 0.8em;
    border: 1px solid #838383; 
    --background: #ffffff;
}

ion-grid {
    margin-left: 10px;
    margin-right: 10px;
}

ion-col{
    text-align: center;
}