<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Confirm Passphrase" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "Feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="margin-bottom: 10px;">
          <h5>{{ "Fill in the blanks with the correct words!" | translate }}</h5>
          <hr/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="1" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[0]' (ionChange)="comparePassphrase()" [readonly]="disabledBox[0]" [(ngModel)]="arrayPhrase[0]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="2" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[1]'  [readonly]="disabledBox[1]" [(ngModel)]="arrayPhrase[1]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="3" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[2]'  [readonly]="disabledBox[2]" [(ngModel)]="arrayPhrase[2]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="4" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[3]'  [readonly]="disabledBox[3]" [(ngModel)]="arrayPhrase[3]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="5" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[4]'  [readonly]="disabledBox[4]" [(ngModel)]="arrayPhrase[4]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="6" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[5]'  [readonly]="disabledBox[5]" [(ngModel)]="arrayPhrase[5]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="7" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[6]'  [readonly]="disabledBox[6]" [(ngModel)]="arrayPhrase[6]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="8" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[7]'  [readonly]="disabledBox[7]" [(ngModel)]="arrayPhrase[7]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="9" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[8]'  [readonly]="disabledBox[8]" [(ngModel)]="arrayPhrase[8]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="10" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[9]'  [readonly]="disabledBox[9]" [(ngModel)]="arrayPhrase[9]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="11" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[10]'  [readonly]="disabledBox[10]" [(ngModel)]="arrayPhrase[10]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="12" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[11]'  [readonly]="disabledBox[11]" [(ngModel)]="arrayPhrase[11]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="13" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[12]'  [readonly]="disabledBox[12]" [(ngModel)]="arrayPhrase[12]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="14" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[13]'  [readonly]="disabledBox[13]" [(ngModel)]="arrayPhrase[13]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="15" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[14]'  [readonly]="disabledBox[14]" [(ngModel)]="arrayPhrase[14]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="16" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[15]'  [readonly]="disabledBox[15]" [(ngModel)]="arrayPhrase[15]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="17" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[16]'  [readonly]="disabledBox[16]" [(ngModel)]="arrayPhrase[16]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="18" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[17]'  [readonly]="disabledBox[17]" [(ngModel)]="arrayPhrase[17]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="19" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[18]'  [readonly]="disabledBox[18]" [(ngModel)]="arrayPhrase[18]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="20" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[19]'  [readonly]="disabledBox[19]" [(ngModel)]="arrayPhrase[19]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="21" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[20]'  [readonly]="disabledBox[20]" [(ngModel)]="arrayPhrase[20]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="22" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[21]'   [readonly]="disabledBox[21]" [(ngModel)]="arrayPhrase[21]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="23" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[22]'  [readonly]="disabledBox[22]" [(ngModel)]="arrayPhrase[22]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input placeholder="24" (ionChange)="comparePassphrase()" [ngClass]='arrayClass[23]'  [readonly]="disabledBox[23]" [(ngModel)]="arrayPhrase[23]"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorMsg">
      <ion-col>
        <ion-label color="danger">{{errorMsg}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="margin-top:30px;margin-bottom: 50px;">
          <ion-button color="tertiary" class="btn-submit" expand="block" (click)="setupPin()"><b>{{ "Setup PIN" | translate }} ></b></ion-button>          
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>