.btn{
    margin-top: 40px;
}

.warning{
    color: rgb(224, 15, 15);
}

.icon {
    width: 80px;
}

.iongrid {
    height: 100%;
  }
  .ionrow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  