<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>ZooBC</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openchart()">
        <ion-icon slot="icon-only" name="trending-up"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-dashboard">
  <!--
  <p class="ion-padding-horizontal title-section">
    {{ "Welcome" | translate }}
  </p>
  -->

  <ion-card class="card-balance">
    <ion-card-content>
      <div class="selected-account">
        <ion-item
          lines="none"
          button="true"
          detail="true"
          (click)="openListAccount()"
        >
          <ion-label
            ><h2 class="account-name">{{ account.name }}</h2>
            {{ account.address }}</ion-label
          >
        </ion-item>
      </div>

      <ion-item lines="none" class="ion-no-padding balance-item">
        <img class="logo" src="assets/images/logo-white.png" />
        <ion-label>
          <ion-label class="balance-title">
            Balance
          </ion-label>
          <ion-label class="main-balance"
            >{{ balance / 1e8 | number: "0.0-4" }} ZBC</ion-label
          >
          <!-- <ion-label class="sub-balance">-1,800.0 USD</ion-label> -->
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding balance-item">
        <img class="logo" src="assets/images/logo-white.png" />
        <ion-label>
          <ion-label class="balance-title">
            Spendable Balance
          </ion-label>
          <ion-label class="main-balance"
            >{{ spendablebalance / 1e8 | number: "0.0-4" }} ZBC</ion-label
          >
          <!-- <ion-label class="sub-balance">-1,800.0 USD</ion-label> -->
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <p class="title-section ion-padding-horizontal">
    {{ "Recent Transaction" | translate }}
  </p>
  <ion-list class="ion-margin-top list-transaction">
    <ion-item lines="none" *ngIf="transactions.length <= 0; else transWithData">
      <ion-label>You don't have any transactions</ion-label>
    </ion-item>
    <ng-template #transWithData>
      <ion-item
        #transWithData
        *ngFor="let transaction of transactions; let i = index"
        button
        (click)="openDetailTransction(i)"
      >
        <ion-label>
          <ion-row class="ion-justify-content-between">
            <ion-col size="7">
              <ion-label class="title">
                {{ transaction.address }}
              </ion-label>
              <ion-label class="date">{{
                transaction.date | calendarDate
              }}</ion-label>
            </ion-col>
            <ion-col size="5" class="ion-text-end">
              <ion-label class="amount {{ transaction.type }}">
                <span
                  class="prefix"
                  *ngIf="transaction.type == 'plus'; else minus"
                  >+</span
                >
                <ng-template #minus>
                  -
                </ng-template>
                {{ transaction.amount / 1e8 | number: "0.0-4" }} ZBC
              </ion-label>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>
    </ng-template>
  </ion-list>
  <div><ion-button (click)="goToTransaction()">View More</ion-button></div>
</ion-content>
