<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Blochain Object Detail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="info-list">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p class="info-label">Lorem Ipsum </p>
        <div class="info-val">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p class="info-label">Key 2</p>
        <div class="info-val">Value 2</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p class="info-label">Key 3</p>
        <div class="info-val">Value 3</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <p class="info-label">Key 4</p>
        <div class="info-val">Value 4</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>