<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ZooBC v0.1</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSendFeedbak()" color="danger">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="{{ 'Refreshing' | translate }} ...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid style="background: #0B3D65; color: #ffffff;">
    <ion-row>
      <ion-col size="12">
        <img class="logo" src="assets/images/logo.png" style="width:68px" />
        <ion-text>
          <h1 (click)="openListAccount()">
            <br> {{ account.name }}
            <!-- <ion-icon style="margin-left:10px;" name="arrow-dropdown"></ion-icon> -->
          </h1>
          {{ account.shortAddress }}
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text>
          <span>{{ "Balance" | translate }} :</span>
          <span>{{ accountBalance.balance/1e8 | number: '0.0-6' }} ZBC</span> <br />
          <span style="font-size: 0.9em;">
            ({{
                (accountBalance.balance / 1e8) * priceInUSD * currencyRate.value
                  | number: '0.0-2'
              }}
            {{ currencyRate.name }})
          </span>
        </ion-text>
      </ion-col>

      <ion-col size="12">
        <ion-text>
          <span>{{ "Spendable" | translate }} :</span>
          <span>{{ accountBalance.spendablebalance/1e8 | number: '0.0-6' }} ZBC</span> <br />
          <span span style="font-size: 0.9em;">Balance:
            ( {{
                  (accountBalance.spendablebalance / 1e8) * priceInUSD * currencyRate.value
                    | number: '0.0-2'
                }}
            {{ currencyRate.name }}
            )
          </span>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="light" routerLink="/transactions">
          <ion-icon name="person"></ion-icon>
          <ion-text>
            <h2>Transaction</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">

        <ion-card color="danger" routerLink="/address-book">
          <ion-icon name="people"></ion-icon>
          <ion-text>
            <h2>Contact</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">

        <ion-card color="success" routerLink="/settings">
          <ion-icon name="settings"></ion-icon>
          <ion-text>
            <h2>Settings</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">

        <ion-card color="secondary" routerLink="/my-tasks">
          <ion-icon name="list"></ion-icon>
          <ion-text>
            <h2>My Tasks</h2>
          </ion-text>
        </ion-card>
      </ion-col>
      <ion-col size="6">

        <ion-card color="tertiary" routerLink="/applist">
          <ion-icon name="flask"></ion-icon>
          <ion-text>
            <h2>Apps</h2>
          </ion-text>
        </ion-card>
      </ion-col>

      <ion-col size="6">
          <ion-card color="light" routerLink="/news">
            <ion-icon name="person"></ion-icon>
            <ion-text>
              <h2>News</h2>
            </ion-text>
          </ion-card>
        </ion-col>
        
      <ion-col size="6">
        <ion-card color="medium" routerLink="/about">
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-text>
            <h2>About</h2>
          </ion-text>
        </ion-card>
      </ion-col>


      <ion-col size="6">
        <ion-card color="danger" routerLink="/help">
          <ion-icon name="help-circle-outline"></ion-icon>
          <ion-text>
            <h2> {{ "Help" | translate }}</h2>
          </ion-text>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>