.page-send{
    text-align: center;

    .f-group{
        margin-bottom: 0.8rem;
    }

    ion-grid{
        --ion-grid-padding: 0;
    }

    ion-col{
        --ion-grid-column-padding: 0;
    }

    ion-item{
        --padding-start: 0;
        --inner-padding-end: 0;
    }

    .ion-label{
        font-size: 1.4em;
    }

    .btn-icon{
        background-color: transparent;
        font-size: 1.6rem;
    }

}