<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send ZBC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-send" padding="true">
  <form #form="ngForm" (ngSubmit)="submit()">
    <div *ngIf="isLoadingBalance">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </div>
    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">From:</ion-label>
        <ion-input [(ngModel)]="sender" name="sender" readonly autocomplete="on" autocorrect="on"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label color="primary" *ngIf="!isLoadingBalance">Balance: {{ balance/1e8 | number: '0.0-6' }}</ion-label>
      </ion-item>
    </div>

    <div class="f-group">
      <ion-grid>
        <ion-row align-items-end justify-content-between>
          <ion-col class="ion-text-start">
            <ion-item lines="none">
              <ion-label position="stacked">{{ "Pay to" | translate }}: <span style="color:red">*</span></ion-label>
              <ion-input name="recipient" type="text" (change)="validateRecipient()" [(ngModel)]="recipient" ngModel required></ion-input>
            </ion-item>
            <ion-item *ngIf="!isRecipientValid">
                <ion-label color="danger" >{{ recipientMsg }}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col class="ion-text-end" size="4">
            <ion-grid>
              <ion-row nowrap align-items-end>
                <ion-col size="6">
                  <button (click)="scanQrCode()" class="btn-icon">
                    <ion-icon name="qr-scanner"></ion-icon>
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button class="btn-icon" (click)="openAddresses()">
                    <ion-icon name="bookmarks"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Amount" | translate }}:</ion-label> <label color="danger">*</label>
        <ion-input name="amount" maxlength="12" type="number" [(ngModel)]="amount" required></ion-input>
      </ion-item>
      <ion-item *ngIf="!isAmountValid">
          <ion-label color="danger" >{{ amountMsg }}</ion-label>
      </ion-item>
    </div>

    <div class="f-group">
        <ion-item>
          <ion-label style="font-size:0.75em;margin-left:0em;text-align: left" slot="start" >Transaction Fee</ion-label>
        </ion-item>
        <ion-item *ngIf="!isFeeValid">
            <ion-label color="danger">Select one transaction fee!</ion-label>
        </ion-item>
        <ion-radio-group [(ngModel)]="fee" name="fee" required>
          <ion-item>
            <ion-label style="font-size:0.8em">Slow (0.00005 ZBC)</ion-label>
            <ion-radio style="font-size:0.8em" slot="start" value="0.00005"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label  style="font-size:0.8em">Average (0.00015 ZBC)</ion-label>
            <ion-radio style="font-size:0.8em" slot="start" value="0.00015" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label  style="font-size:0.8em">Fast (0.00025 ZBC)</ion-label>
            <ion-radio  style="font-size:0.8em" slot="start" value="0.00025"></ion-radio>
          </ion-item>
        </ion-radio-group>
        <!-- 
        <ion-label position="stacked">{{ "Fee" | translate }}:</ion-label>
        <ion-input
          name="fee"
          type="number"
          [(ngModel)]="fee"
          required
        ></ion-input>
      </ion-item> -->
    </div>

    <div padding>
      <ion-button color="secondary" *ngIf ="!isLoadingBalance" (click)="showConfirmation()" expand="block"><b>{{ "Send" | translate }}</b>
      </ion-button>
    </div>

    <ion-item>
      <ion-label>{{ status }}</ion-label>
    </ion-item>
  </form>
</ion-content>