<ion-header no-border>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Send Money</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-send" padding="true">
  <form #form="ngForm" (ngSubmit)="submit()">
    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "From" | translate }}:</ion-label>
        <ion-input
          [(ngModel)]="sender"
          name="sender"
          autocomplete="on"
          autocorrect="on"
        ></ion-input>
      </ion-item>
    </div>

    <div class="f-group">
      <ion-grid>
        <ion-row align-items-end justify-content-between>
          <ion-col class="ion-text-start">
            <ion-item lines="none">
              <ion-label position="stacked"
                >{{ "Pay to" | translate }}:</ion-label
              >
              <ion-input
                name="recipient"
                type="text"
                [(ngModel)]="recipient"
                ngModel
                required
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-text-end" size="4">
            <ion-grid>
              <ion-row nowrap align-items-end>
                <ion-col size="6">
                  <button (click)="scanQrCode()" class="btn-icon">
                    <ion-icon name="qr-scanner"></ion-icon>
                  </button>
                </ion-col>
                <ion-col size="6">
                  <button class="btn-icon" (click)="openAddresses()">
                    <ion-icon name="bookmarks"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Amount" | translate }}:</ion-label>
        <ion-input
          name="amount"
          type="number"
          [(ngModel)]="amount"
          required
        ></ion-input>
      </ion-item>
    </div>

    <div class="f-group">
      <ion-item lines="none">
        <ion-label position="stacked">{{ "Fee" | translate }}:</ion-label>
        <ion-input
          name="fee"
          type="number"
          [(ngModel)]="fee"
          required
        ></ion-input>
      </ion-item>
    </div>

    <div padding>
      <ion-button
        color="secondary"
        (click)="showConfirmation()"
        expand="block"><b>{{ "Send" | translate }}</b>
      </ion-button>
    </div>

    <ion-item>
      <ion-label>{{ status }}</ion-label>
    </ion-item>
  </form>
</ion-content>
