.page-send{

    ion-grid{
        --ion-grid-padding: 0;
    }

    ion-col{
        --ion-grid-column-padding: 0;
    }

    ion-item{
        --padding-start: 0;
        --inner-padding-end: 0;
    }

    .ion-label{
        font-size: 1.4em;
    }

    .btn-icon{
        background-color: transparent;
        font-size: 1.6rem;
    }

}

.stacked{
    font-size:1.2em;
    margin-bottom:12px;
    color:#1E1E1E;
}

.displayerror{
    font-size:0.8em;
    color:red;
}