.form-advanced-option {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin: 24px 0 10px 0;
  color: #3c3c3c;

  &:before,
  &:after {
    content: '';
    flex: 1 1;
    border-bottom: 2px solid  #cccccc;
    margin: 10px;
  }
}

