<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mulstisignature</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Send Money</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="background-color:#eeeeee; padding: 10px; border: 1px solid #cccccc">
          <ion-label color="primary">
            <h2>From</h2>
            <h3>xxxxxxxx</h3>
            <h3>300 ZBC</h3>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <h2>Recipient</h2>
          <ion-input type="text"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <h2>Amount</h2>
          <ion-input type="text" value="0 " class="ion-text-right"></ion-input>
        </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>
          <p style="margin-top: 30px;">ZBC</p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <h2>Fee</h2>
          <ion-button>
            Slow<br />
            0.01 ZBC
          </ion-button>
          <ion-button>
            Average<br />
            0.02 ZBC
          </ion-button>
          <ion-button>
            Fast<br />
            0.04 ZBC
          </ion-button>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-checkbox checked></ion-checkbox>&nbsp;
      <ion-label>Custom Fee</ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button expand="block">
          Save
        </ion-button>
        <ion-button  expand="block" fill="outline">
          Next
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>