<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'add new account' | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{"feedback"|translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">{{ 'account name' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input padding="false" placeholder="{{ 'Please enter your account name' | translate }}"
          [(ngModel)]="accountName" (ionChange)="sanitize()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNameValid === false">
      <ion-col>
        <ion-label color="danger">
          {{nameErrorMessage}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-checkbox [(ngModel)]="isMultisig" (ionChange)="changeToMultisig()" color="primary"></ion-checkbox>
        <ion-label> {{ 'multisignature account' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>{{ 'participants' | translate }}</h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-button (click)="addParticipant()">
          +
        </ion-button>
        <ion-button (click)="reduceParticipant()">
          -
        </ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="isMultisig">
      <ion-row *ngFor="let participant of participants; let i = index; trackBy: customTrackBy">
        <ion-col size="10">
          <ion-textarea rows="3" [name]="'input-'+i" placeholder="{{ 'Participant ' }} {{ i + 1 }} ..."
          [(ngModel)]="participants[i]"></ion-textarea>
        </ion-col>
        <ion-col size="2" class="ion-text-center" style="padding-top: 20px">
          <ion-icon name="arrow-dropdown" (click)="presentGetAddressOption('participant',i);"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="isParticipntValid === false">
      <ion-col>
        <ion-label color="danger">{{ 'participant address is invalid' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>{{ 'nonce' | translate }}</h2>
          <ion-input [(ngModel)]="nonce" type="number" (ionChange)="validateNonce()" placeholder="{{ 'nonce' | translate }}" ></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNonceValid === false">
      <ion-col>
        <ion-label color="danger">{{ 'minimum nonce is 1' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>{{ 'minimum signature' | translate }}</h2>
          <ion-input type="number" [(ngModel)]="minimumSignature" (ionChange)="validateMinimumSig()" placeholder="{{ 'minimum signature' | translate }}"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMinSigValid === false">
      <ion-col>
        <ion-label color="danger">{{ 'minimum signature is 2' | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button strong color="tertiary" (click)="createAccount()" type="submit" expand="block">
          <span>{{ 'save' | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="tertiary" routerLink="/list-account" fill="outline" expand="block">
          {{ "cancel" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>