<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Add Account" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">{{ "Account Name" | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input padding="false" placeholder="{{ 'Please enter your account name' | translate }}"
          [(ngModel)]="accountName" (ionChange)="sanitize()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNameValid === false">
      <ion-col>
        <ion-label color="danger">
          {{nameErrorMessage}}
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-checkbox [(ngModel)]="isMultisig" (ionChange)="changeToMultisig()" color="primary"></ion-checkbox>
        <ion-label>Multi-signature Account</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>Participants</h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-button (click)="addParticipant()">
          +
        </ion-button>
        <ion-button (click)="reduceParticipant()">
          -
        </ion-button>
      </ion-col>
    </ion-row>
    <div *ngIf="isMultisig">
      <ion-row *ngFor="let participant of participants; let i = index; trackBy: customTrackBy">
        <ion-col size="10">
          <ion-textarea rows="3" [name]="'input-'+i" placeholder="{{ 'Participant ' }} {{ i + 1 }} ..."
          [(ngModel)]="participants[i]"></ion-textarea>
        </ion-col>
        <ion-col size="2" class="ion-text-center" style="padding-top: 20px">
          <ion-icon name="arrow-dropdown" (click)="presentGetAddressOption('participant',i);"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <ion-row *ngIf="isParticipntValid === false">
      <ion-col>
        <ion-label color="danger">Please input all participants!</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>Nonce</h2>
          <ion-input [(ngModel)]="nonce" type="number" (ionChange)="validateNonce()" placeholder="Nonce ..." ></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isNonceValid === false">
      <ion-col>
        <ion-label color="danger">Nonce is not valid, minimum 1 .!</ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>Minimum signature</h2>
          <ion-input type="number" [(ngModel)]="minimumSignature" (ionChange)="validateMinimumSig()" placeholder="Minimum signature..."></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMinSigValid === false">
      <ion-col>
        <ion-label color="danger">Minimum signature is 2 and cannot more than number of participants.</ion-label>
      </ion-col>
    </ion-row>
    <!-- <ion-row *ngIf="isMultisig">
      <ion-col>
        <ion-label>
          <h2>Sign by</h2>
        </ion-label>
      </ion-col>
    </ion-row> -->
    <!-- <ion-row *ngIf="isMultisig">
      <ion-col size="10">
        <ion-label>
          <h3 *ngIf="signByAccount">{{signByAccount.name}}</h3>
          <ion-textarea rows="3" [(ngModel)]="signBy" placeholder="Enter sign by..."></ion-textarea>
        </ion-label>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="arrow-dropdown" (click)="showPopupSignBy();"></ion-icon>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button strong color="secondary" (click)="createAccount()" type="submit" expand="block">
          <span>{{"Save"|translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="secondary" routerLink="/list-account" fill="outline" expand="block">
          {{ "Cancel" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>