<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>

    <ion-title>{{ "receive" | translate }} ZBC</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate}}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openSharing()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="warning">
        {{ "show this qrcode to your friend to transfer zoobc coin to your account" | translate }}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <div *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode"
           cssClass="qrcode"
           errorCorrectionLevel="L">
          </ngx-qrcode>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="qrcode">
        <div style="margin-bottom: 5px; font-weight: bold;">{{ "address" | translate}}:</div>
        <div *ngIf="account">
          <app-with-copy title="{{ account.address | shortAddress }}" value="{{ account.address }}"></app-with-copy>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="qrcode">
        <div style="margin-bottom: 5px; font-weight: bold;">{{ "amount" | translate}}</div>
      </ion-col>
    </ion-row>

    <ion-row class="qrcode">
      <ion-col size="7">
        <ion-input
          class="ion-text-end"
          style="border:1px solid #cccccc;"
          type="number"
          (ionChange)="changeBarcode()"
          [(ngModel)]="amount"
        >
        </ion-input>
      </ion-col>
      <ion-col size="5">
        <div style="margin-top: 10px">ZBC</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
