<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ "receive" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <ion-label>
          <p>{{ "amount" | translate }}</p>
        </ion-label>
      </ion-col>
      <ion-col size="3">&nbsp;</ion-col>
      <ion-col class="ion-text-end" size="6">
        <ion-input type="number" class="amount" (ionChange)="changeBarcode()" [(ngModel)]="amount">
        </ion-input>
      </ion-col>
      <ion-col class="ion-text-left" size="2" class="postfix">
        <ion-text>ZBC</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center space">
        <div *ngIf="createdCode">
          <ngx-qrcode [qrc-value]="createdCode" cssClass="qrcode" errorCorrectionLevel="L">
          </ngx-qrcode>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>
          <p> {{ 'your address' | translate }}:</p>
          <ion-text *ngIf="account">{{ account.address.value }}</ion-text>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center space">
        <ion-button color="primary" fill="outline" (click)="copyToClipboard()">
          <ion-icon name="copy"></ion-icon> {{ "copy" | translate }}
        </ion-button>
        <ion-button color="primary" fill="outline" class="btnright" (click)="openSharing()">
          <ion-icon slot="icon-only" name="share"></ion-icon> {{ "share" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>