<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ "receive" | translate }} ZBC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="page-receive">
    <div class="amount-container">
      <div class="ion-text-center">{{ "amount" | translate}}</div>
      <ion-item class="form-item" lines="none">
        <ion-label position="fixed" slot="end">ZBC</ion-label>
        <ion-input class="ion-text-end" type="number" (ionChange)="changeBarcode()" [(ngModel)]="amount">
        </ion-input>
      </ion-item>
    </div>

    <div class="qrcode-container" *ngIf="createdCode">
      <ngx-qrcode [qrc-value]="createdCode" cssClass="qrcode" errorCorrectionLevel="L">
      </ngx-qrcode>
    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <div style="margin-bottom: 5px; font-weight: bold;">{{ "address" | translate}}:</div>
            <div *ngIf="account">
              {{ account.address }}
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button fill="outline" expand="block">
              <ion-icon name="zbc-copy"></ion-icon> Copy
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="openSharing()" fill="outline" expand="block">
              <ion-icon name="zbc-share"></ion-icon> Share
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </div>
  </div>

</ion-content>