<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button > </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'news' | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{"feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid style='border:1px solid #cccccc'> 
    <ion-row>
      <ion-col class="ion-text-left ion-no-padding" style="background-color: #cccccc;" color="light">
        <ion-list *ngIf="!error;else errorContent" color="secondary">
          <ion-item *ngFor="let news of newsList; let i = index">
            <ion-label class="ion-text-wrap">
              <h1 style="margin-bottom:10px;">{{news.title}}</h1>
              <!-- <p>{{news.published_on | date :  "dd.MM.y"}}</p> -->
              <p > 
                <img src="{{news.imageurl}}" style="margin-right:10px; margin-bottom:10px; width:100px;" align="left">
                {{news.published_on | date :  "dd.MM.y"}}<br/>{{news.body}}
              </p>
              <p style="text-align: right;" (click)="visitSite(news.url)">read more ...</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #errorContent>
          <p><span style="color: red;">{{error}}</span></p>
        </ng-template>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
