@mixin background {
  --color: #fff;
  --background: transparent;
  background-image: url("../../../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
