@mixin font-face(
    $font-family,
    $file-path,
    $file-formats: _fetch-bourbon-setting("global-font-file-formats"),
    $asset-pipeline: _fetch-bourbon-setting("rails-asset-pipeline")
) {
    @font-face {
        font-family: $font-family;
        src: _font-source-declaration(
            $font-family,
            $file-path,
            $asset-pipeline,
            $file-formats
        );
        @content;
    }
}
