ion-list{
  margin-bottom: 15px;
}

ion-list-header{
  h2{
    font-size: 20px;
  }
}

ion-item{
  font-size: 12px;
  h3{
    font-size: 16px;
  }
}

.logout{
  --inner-border-width: 1px 0 1px 0;
  color: #D3433C;
}