<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
      </ion-buttons>
      <ion-title>{{ "Settings" | translate }}</ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>
          Currency Conversion<br />
          Updated Mon Nov 11 2019 17:50:48 GMT+0800 (Central Indonesia Time)
        </p>
        <div style="border:1px solid #cccccc">
          <ion-select interface="action-sheet" [(ngModel)]="activeCurrency" (ionChange)="changeRate()">
            <ion-select-option *ngFor="let rate of currencyRates; let idx = index" value="{{ rate.name }}">
              {{ rate.name }} - {{ rate.value }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <p>
          Current Language<br />
          English
        </p>
        <div style="border:1px solid #cccccc">
          <ion-select interface="action-sheet" [(ngModel)]="activeLanguage"
            (ionChange)="selectActiveLanguage()">
            <ion-select-option *ngFor="let language of languages; let i = index" value="{{ language.code }}">
              {{ language.country }}
            </ion-select-option>
          </ion-select>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>