<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "settings" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>{{ "general" | translate}}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item (click)="goToAccount()" detail>
      <ion-label>
        <h3>{{ "account" | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToMultisig()" detail>
      <ion-label>
        <h3>{{ "multisignature" | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToTheme()" detail>
      <ion-label>
        <h3>{{ "theme" | translate}}</h3>
        <p>{{ activeTheme }}</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToNetwork()" detail>
      <ion-label>
        <h3>{{ "network" | translate}}</h3>
        <p>{{ activeNetwork }}</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToCurrency()" detail>
      <ion-label>
        <h3>{{ "currency" | translate}}</h3>
        <p>{{ activeCurrency ? (activeCurrency.code + " - " + activeCurrency.name) : "" }}</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToLanguage()" detail>
      <ion-label>
        <h3>{{ "language" | translate}}</h3>
        <p>{{ activeLanguage ? (activeLanguage.code + " - " + activeLanguage.country) : "" }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <h2>{{ "security" | translate}}</h2>
      </ion-label>
    </ion-list-header>
    <ion-item (click)="goToSeedPhrase()" detail>
      <ion-label>
        <h3>{{ "seed phrase" | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToBackupRestoreAddress()" detail>
      <ion-label>
        <h3>{{ "backup / restore address" | translate}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
        <ion-label>
          <h2>{{ "app" | translate}}</h2>
        </ion-label>
    </ion-list-header>
    <ion-item (click)="goToHelpAndSupport()" detail>
      <ion-label>
        <h3>{{ "help and support" | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToFeedback()" detail>
      <ion-label>
        <h3>{{ "feedback" | translate}}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="goToAbout()" detail>
      <ion-label>
        <h3>{{ "about this wallet" | translate}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item (click)="logout()" class="logout">
      <ion-label>
        <h3>{{ "logout" | translate}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
 
</ion-content>