<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>List Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey" class="modal-list-account">
  <ion-item *ngFor="let item of items; let i = index" button="true" (click)="selectItem(i)">
    <ion-label>
      <h3>{{ item.name }}</h3>
      <ion-text color="primary">
        <ion-label>
          <p class="address">{{ item.address }}</p>
        </ion-label>
      </ion-text>
      <ion-text color="success">
        <ion-label>
          <p class="balance">{{ item.balance }} ZBC ({{ item.balance / 1e8 | activeCurrencyRate$ | async }})</p>
        </ion-label>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>