<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "list of currency" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "you dont have any currency" | translate}}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="currencyList; else noData">
      <ion-radio-group value="{{ activeCurrency ? activeCurrency.code : '' }}">
        <ion-item *ngFor="let curr of currencyList; let i = index" (click)="currencyClicked(curr)">
          <ion-radio slot="start" value="{{ curr.code }}"></ion-radio>
          <ion-label>
            {{curr.code}} - {{ curr.name }}
          </ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>