<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'create multisignature transaction' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="multisigForm" (ngSubmit)="doNext()" novalidate>
    <ion-item>
      <ion-label>
        <p class="ion-text-wrap">
          {{ 'what kind of transaction do you want to create?' | translate }}
        </p>
      </ion-label>
    </ion-item>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-select interface="popover" formControlName="trxType" (ionChange)="changeTrx()">
            <ion-select-option [value]="type.code" *ngFor="let type of txType; let idx = index">
              {{ type.type | translate }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>{{"how do you want multi signature to be executed?" | translate}}?</p>
            <ion-radio-group allow-empty-selection="true" name="radio-group" formControlName="chainType"
              (ionChange)="radioGroupChange()">

              <ion-item>
                <ion-label>{{"onchain multi signature" | translate}}</ion-label>
                <ion-radio slot="start" value="onchain"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>{{"offchain multi signature"| translate}}</ion-label>
                <ion-radio slot="start" value="offchain"></ion-radio>
              </ion-item>

            </ion-radio-group>
          </ion-label>
        </ion-item>
        <ion-item class="ion-text-right ion-no-border">
          <ion-button slot="end" color="tertiary" type="submit" 
          size="default" [disabled]="multisigForm.invalid">
            {{ 'next' | translate }}
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </form>

  <ion-item>
    <h5>{{ 'multisignature drafts' | translate }}</h5>
    <ion-button (click)="importDraft()" size="default" slot="end">{{'sign a transaction' | translate}}</ion-button>
  </ion-item>
</ion-content>