.draft-list-header{
    margin-top: 20px;
    border-bottom: 1px solid #cccccc;
}

.title{
   color: #7275bb; 
}
.dateago{
   font-style: italic;
   margin-bottom: 10px; 
}

.value{
   margin-bottom: 10px; 
}