<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'create multisignature transaction' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-card style="padding: 0;">
    <form [formGroup]="multisigForm" (ngSubmit)="doNext()" novalidate>
    
      <ion-item lines="none" class="form-item">
        <ion-label>
          <p class="ion-text-wrap">
            {{ 'what kind of transaction do you want to create?' | translate }}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="form-item">
        <ion-select style="max-width: 100% !important; border: #cccccc 1px solid " interface="popover" formControlName="trxType" (ionChange)="changeTrx()">
          <ion-select-option [value]="type.code" *ngFor="let type of txType; let idx = index">
            {{ type.type | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item lines="none" class="form-item">
        <ion-label>
          <p class="ion-text-wrap">{{"how do you want multi signature to be executed?" | translate}}?</p>
          <ion-radio-group allow-empty-selection="true" name="radio-group" formControlName="chainType"
            (ionChange)="radioGroupChange()">
  
            <ion-item lines="none">
              <ion-radio value="onchain"></ion-radio>
              <ion-text>&nbsp;&nbsp;{{"onchain multi signature" | translate}}</ion-text>
            </ion-item>
  
            <ion-item lines="none">
              <ion-radio value="offchain"></ion-radio>
              <ion-text>&nbsp;&nbsp;{{"offchain multi signature"| translate}}</ion-text>
            </ion-item>
  
          </ion-radio-group>
        </ion-label>
      </ion-item>
      <ion-card-content>
      <ion-button expand="block" color="tertiary" type="submit" [disabled]="multisigForm.invalid">
        {{ 'next' | translate }}
      </ion-button>
    </ion-card-content>
    </form>
  </ion-card>
  <ion-item>
    <ion-button (click)="importDraft()" color="tertiary" size="default" expand="block">{{'sign a transaction' | translate}}</ion-button>
  </ion-item>
  <ion-item>
    <h5>{{ 'multisignature drafts' | translate }}</h5>
  </ion-item>
</ion-content>