<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'multisignature transaction' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-row>
    <ion-col>
      <ion-button fill="outline" (click)="showForm()" size="small">
        +&nbsp;{{ 'create' | translate }}&nbsp;
        <ion-icon name="arrow-dropdown"></ion-icon>
      </ion-button>
      <ion-button fill="outline" (click)="import()" size="small">
        <ion-icon name="pulse"></ion-icon>&nbsp;
        {{'sign' | translate}}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-card style="padding: 0;" *ngIf="isShowForm">
    <form [formGroup]="multisigForm" (ngSubmit)="next()" novalidate>
      <ion-item lines="none" class="form-item">
        <ion-label>
          <p class="ion-text-wrap">
            {{ 'what kind of transaction do you want to create?' | translate }}
          </p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" class="form-item">
        <ion-select style="max-width: 100% !important; border: #cccccc 1px solid " interface="popover"
          formControlName="trxType">
          <ion-select-option [value]="type.code" *ngFor="let type of txType; let idx = index">
            {{ type.type | translate }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-card-content>
        <ion-button color="tertiary" type="submit" [disabled]="multisigForm.invalid">
          {{ 'next' | translate }}
        </ion-button>
        <ion-button color="tertiary" type="button" (click)="close()" fill="outline">
          {{ 'close' | translate }}
        </ion-button>
      </ion-card-content>
    </form>
  </ion-card>
  <ion-row>
    <ion-col class="draft-list-header">
      <ion-label>
        <ion-icon name="list"></ion-icon> {{ 'multisignature drafts' | translate }}
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-list>
    <ion-item lines="none" *ngIf="!drafts || drafts.length < 1">
      <ion-col class="ion-text-center">
        {{'no draft record' | translate}}
      </ion-col>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="drafts && drafts.length > 0">
    <ion-item *ngFor="let draft of drafts; let idx = index">
      <ion-label (click)="detail(draft)">
        <p class="title">{{ 'draft id' | translate }}: {{ draft.id }}</p>
        <p class="dateago">{{ draft.id | dateAgo }}</p>
        
        <div *ngIf="draft.txBody && draft.txBody.sender">
          <p class="title">{{ 'transaction type' | translate }}:&nbsp;
          <span class="value">{{ draftTxType[idx] | translate }}</span>
         </p>
        </div>
        <div *ngIf="draft.signaturesInfo">
          <p class="title">{{ 'transaction hash' | translate }}:&nbsp;
          <span class="value">{{draft.signaturesInfo.txHash | shortAddress}}</span>
          </p>
        </div>

      </ion-label>
      <ion-icon name="zbc-option" slot="end" (click)="showOption($event, idx,  draft)"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>