<ion-menu type="overlay" menuId="mainMenu" class="ion-no-padding">
  <ion-content class="ion-no-padding">

    <div class="top-{{theme}}">
          <img src="assets/images/logo-white.png" class="logo" />
    </div>

    <ion-list>

      <!-- <ion-item lines="none" (click)="openAddresBook()" button>
        <ion-icon name="book"></ion-icon>
        <ion-label>
          {{ "Address Book" | translate }}
        </ion-label>
      </ion-item> -->

      <ion-item lines="none" (click)="openSettings()" button>
        <ion-icon name="cog"></ion-icon>
        <ion-label>
          {{ "Settings" | translate }}
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="revealPassphrase()">
        <ion-icon name="key"></ion-icon>
        <ion-label>
          {{ "Reveal Passphrase" | translate }}
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="goBackupRestore()">
        <ion-icon name="arrow-round-down"></ion-icon>
        <ion-label>
          Backup / Restore Address
        </ion-label>
      </ion-item>

      <!-- <ion-item lines="none" (click)="myTasks()">
        <ion-icon name="checkbox-outline"></ion-icon>
        <ion-label>
          {{ "My Tasks" | translate }}
        </ion-label>
      </ion-item>

      <ion-item lines="none" (click)="openAppsList()">
        <ion-icon name="flask"></ion-icon>
        <ion-label>
          {{ "Apps" | translate }}
        </ion-label>
      </ion-item> -->

      <ion-item lines="none">
        <ion-icon name="help-circle-outline"></ion-icon>
        <ion-label class="text" (click)="openHelpSupport()">
          {{ "Help & Support" | translate }}
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label (click)="openAboutView()">
          {{ "About this wallet" | translate }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button strong style="margin-top:40px;" (click)="logout()" color="secondary" expand="block">
            {{ "Log out" | translate }} &nbsp;&nbsp;<ion-icon name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>