ion-icon{
    margin-right: 25px;
    color: var(--side-menu-text-color);   
}

.top-zoobc{
    box-shadow: none !important; 
    text-align: center; 
    background-color: #0B3D65;
}

.top-night{
    box-shadow: none !important; 
    text-align: center; 
    background-color: #222831;
}

.top-day{
    box-shadow: none !important; 
    text-align: center; 
    background-color: #4cbbb9;
}

.logo{
    margin-bottom:40px;
    margin-top:60px;
    width: 60px;
    height: 60px;
}

ion-card{
    text-align: center;
}
