leftmenutop{
    height: 50px;
    --background-color: blue;
    padding: 20px;
}

ion-icon{
    margin-right: 20px;
    color: var(--side-menu-text-color);   
}

.logo{
    margin-bottom:40px;
    margin-top:60px;
    width: 60px;
    height: 60px;
}

