<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Spinechain - Send</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <p>&nbsp;</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center">Your Spinechain Wallet is empty</ion-card-title>
      </ion-card-header>

      <ion-card-content>
          <p>&nbsp;</p>
          <p style="text-align:center">To get started, buy Spinechain Cash (SPC), or share your address.</p>
          <p style="text-align:center">You can receive spinechain from any wallet or service.</p>


          <p>&nbsp;</p>
     
     
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-button color="success"  fill="solid" expand="full">Buy Spinechain now</ion-button>
              </ion-col>            
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-button  color="warning" fill="solid" expand="full">Show my address</ion-button>
              </ion-col>
            </ion-row>

            <p>&nbsp;</p>
          </ion-grid>


      </ion-card-content>
    </ion-card>
</ion-content>
