<ion-header>

  <ion-toolbar color="primary">
    <ion-title>Spinechain - Send</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <p>&nbsp;</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center">Send Money</ion-card-title>
      </ion-card-header>

      <ion-card-content padding>

        <!--
          <p>&nbsp;</p>
          <p style="text-align:center">To get started, buy Spinechain Cash (SPC), or share your address.</p>
          <p style="text-align:center">You can receive spinechain from any wallet or service.</p>


          <p>&nbsp;</p>
     
     
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-button color="success"  fill="solid" expand="full">Buy Spinechain now</ion-button>
              </ion-col>            
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <ion-button  color="warning" fill="solid" expand="full">Show my address</ion-button>
              </ion-col>
            </ion-row>

            <p>&nbsp;</p>
          </ion-grid>




        -->
          <form  #form="ngForm" (ngSubmit)="register(form)">
            <ion-grid>
                <ion-row justify-content-center>                  
                  <ion-col align-self-center align-self-center size-md="6" size-lg="5" size-xs="12">
                     <div padding>
                        <ion-item>
                          <ion-label>From:</ion-label>  
                          <ion-input name="sender" type="text" [(ngModel)]="sender" required readonly></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label>Pay To:</ion-label>  
                          <ion-input name="recipient" type="text" [(ngModel)]="recipient" ngModel required></ion-input>
                        </ion-item>
                        <ion-item>
                          <ion-label>Amount:</ion-label>  
                          <ion-input name="amount" type="text" [(ngModel)]="amount" required></ion-input>
                        </ion-item>
                      </div>
                      <div padding>
                        <ion-button  size="large" type="submit"  expand="block">Send</ion-button>
                      </div>
                  </ion-col>
                </ion-row>
            </ion-grid>
          </form>
      </ion-card-content>
    </ion-card>
</ion-content>
