<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "Receive" | translate }} ZBC</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openSharing()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content class="page-qrcode" padding="true">


  <ion-card *ngIf="createdCode">
          <ion-card-content>
            <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>           
            <p class="address" (click)="tapAddress()">{{ createdCode }}
                
            <span style="font-size: 1.6em;"><ion-icon name="copy"></ion-icon></span></p>
            
          </ion-card-content>
  </ion-card>

  <p class="note">
    {{ "show this qrcode to your friend to transfer money to your account" | translate }}
  </p>
</ion-content>
