.page-qrcode {
  text-align: center;

  p.address {
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 17rem;
    margin-left: auto;
    margin-right: auto;
  }

  p.note {
    color: #818181;
    font-size: 0.8rem;
    max-width: 14rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
  }

  p.text-copy {
    font-size: 0.7rem;
    color: #dedede;
  }

  .sc-ion-card-md-s img {
    width: auto !important;
  }

  .qrcode-container {
    border: 1px solid #dedede;
    display: inline-block;
    margin-right: auto;
    margin-left: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  img {
    vertical-align: middle;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
