<app-sidemenu></app-sidemenu>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>{{ "TABS.wallets" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="arrow-round-down"></ion-icon>
      <ion-label>{{ "TABS.recieve" | translate }}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="tab3">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>{{ "TABS.scan" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="arrow-round-up"></ion-icon>
      <ion-label>{{ "TABS.send" | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>  
