<app-sidemenu></app-sidemenu>

<ion-tabs #myTabs (ionTabsDidChange)="onTabChanged($event)">
  <ion-tab-bar slot="bottom" [ngStyle]="{'display': seeTabs?'flex':'none'}">

    <ion-tab-button tab="dashboard">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>{{ "Wallets" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="receive">
      <ion-icon name="arrow-round-down"></ion-icon>
      <ion-label>{{ "Recieve" | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="send">
      <ion-icon name="arrow-round-up"></ion-icon>
      <ion-label>{{ "Send" | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>