<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Receive</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding style="text-align:center">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center align-self-center size-md="12" style="text-align:center" size-lg="12" size-xs="12">
        <h3>My Wallet Address</h3>
        <ion-textarea name="encodeData" [(ngModel)]="encodeData"></ion-textarea>

        <div [innerHTML]="qrElement" class="qr-code"></div>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>