<div class="info-amount-conversion">
  <div class="main-amount">
    <span *ngIf="prefix">{{ prefix }}</span>
    ZBC {{ value | number:'0.0-2' }}
  </div>
  <div class="other-amount" *ngIf="otherCurrency">
    <div *ngIf="otherCurrencyDecoration==='BRACKET'; else noDecoration">
      ({{ otherCurrency }} {{ otherValue | number:'0.0-2' }})
    </div>
  </div>
</div>

<ng-template #noDecoration>
  <span *ngIf="prefix">{{ prefix }}</span>
  {{ otherCurrency }} {{ otherValue | number:'0.0-2' }}
</ng-template>