<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center titleLogin">
        <ion-title color="light">{{ "enter your pin" | translate }}</ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content class="ion-padding background-pin" fullscreen>
  <ion-grid class="gridLogin">
    <ion-row class="rowLogin">
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-text-center">

              <p *ngIf="isLoginValid">&nbsp;</p>
              <p *ngIf="!isLoginValid" class="ion-text-center invalidPin">{{ "invalid pin" | translate }}</p>
              <app-pin (ionChange)="login($event)"></app-pin>
              <p>&nbsp;</p>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center footerLogin">
        <ion-label (click)="cancel()" color="light">{{ "cancel" | translate }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>