<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ "Please Enter Your PIN" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  <p *ngIf="isLoginValid">&nbsp;</p>
    <p *ngIf="!isLoginValid" class="ion-text-center" style="color:red">{{ "Invalid PIN" | translate }}</p>

    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
            <app-pin (keyup)="login($event)"></app-pin>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="ion-text-center">
              <ion-button (click)="cancel()" expand="block" color="secondary">{{ "Cancel" | translate }}</ion-button>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>