ion-col{
    font-size: 0.8em;
}

.box-warning{
    padding: 10px;
    color: #ffffff;
    background-color: var(--ion-color-danger);
}

.box-pass{
    background-color: var(--ion-color-light);
    padding: 10px; 
    border:1px solid black;
    font-size: 1.0em;
}
