<form [formGroup]="formAddress" (ngSubmit)="submit()">

  <ion-list class="form-list">
    <ion-item lines="none" class="form-item">
      <ion-label position="stacked">{{ "name" | translate }}</ion-label>
      <ion-input placeholder="{{ 'please type the name' | translate }}" formControlName="name" autocomplete="on"
        autocorrect="on" ngDefaultControl></ion-input>
      <ion-text class="text-error"
        *ngIf="(submitted || name.dirty || name.touched) && name.invalid && name.errors.required">
        {{ "name cannot be empty" | translate}}
      </ion-text>
      <ion-text class="text-error"
        *ngIf="(submitted || name.dirty || name.touched) &&  name.invalid && name.errors.nameExists">
        {{name.errors.nameExists}}
      </ion-text>
    </ion-item>

    <ion-item lines="none" class="form-item">
      <div class="address-form-item-header">
        <ion-label position="stacked">{{ "address" | translate }}</ion-label>
        <div class="scan-button">
          <ion-icon name="qr-scanner" (click)="scanQRCode();"></ion-icon>
          <span (click)="scanQRCode();" style="font-size: 0.6em;"> {{ "scan" | translate}} QR</span>
        </div>
      </div>

      <ion-textarea rows="3" placeholder="{{ 'please type the address' | translate }}" formControlName="address"
        autocomplete="on" autocorrect="on" ngDefaultControl>
      </ion-textarea>
      <ion-text class="text-error"
        *ngIf="(submitted || address.dirty || address.touched) && address.invalid && address.errors.required">
        {{ "address cannot be empty" | translate}}
      </ion-text>
      <ion-text class="text-error"
        *ngIf="address.value && (submitted || address.dirty || address.touched) && address.invalid && (address.errors.minlength || address.errors.bytesLength)">
        {{ "address is not valid" | translate}}
      </ion-text>
      <ion-text class="text-error"
        *ngIf="(submitted || address.dirty || address.touched) && address.invalid && address.errors.addressExists">
        {{address.errors.addressExists}}
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-button strong color="secondary" type="submit" expand="block">
    <span *ngIf="mode==='add'">{{ "save" | translate }}</span>
    <span *ngIf="mode==='edit'">{{ "update" | translate }}</span>
  </ion-button>

</form>