ion-icon{
    display: inline-block;
    font-size: 1.3em;
    color: #ababab;
    vertical-align: middle;
}

.address{
    font-size: 0.8em;
}
 
.ion-input-border{
     border: 1px solid #dddddd;
}

ion-textarea{
    font-size: 0.8em;
}

ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

ion-checkbox {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
}

// ion-content{
//     font-size: 0.8em;
// }
   
.textcustom{
    display: inline-block;
    vertical-align: middle;
}

.ion-row-cont{    
    border: 1px solid #cccccc;
    border-radius: 2px;
}
