<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <button (click)="scanQrCode()" style="margin-right: 10px;">
        <ion-icon name="qr-scanner"></ion-icon>
      </button>
      <button (click)="openAddresses()" style="margin-right: 10px;">
        <ion-icon name="bookmarks"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>{{ "Send" | translate }} ZBC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoadingBalance">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <div *ngIf="errorMsg">
    <ion-label  style="color: red">{{ errorMsg }}</ion-label>
  </div>

  <form #form="ngForm" (ngSubmit)="submit()">
    <ion-grid>

      <ion-row>
        <ion-col>

          <ion-item lines="none" style="margin-bottom: 0px;">
            <ion-label position="stacked" class="stacked">
              {{ "From account" | translate }} </ion-label>
            <ion-select class="select-zbc" [(ngModel)]="account" (ngModelChange)="switchAccount(account)" *ngIf="!isLoadingBalance" placeholder="-- Select Account --"
              interface="popover" name="account" >
              <ion-select-option class="select-zbc" *ngFor="let acc of allAccounts" [value]="acc">
                {{ acc.name }} | {{acc.balance | number: '0.0-6'}} ZBC
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label *ngIf="!isLoadingBalance">
              <span style="font-size: 0.9rem; font-weight: bold">
              {{"Address" | translate}}:  {{ account.shortAddress }}
              </span>
              <!-- <span *ngIf="!isLoadingBalance">
                {{ "Balance" | translate }}:{{ balance/1e8 | number: '0.0-6' }}
              </span> -->
            </ion-label>
          </ion-item>

          <ion-item-divider lines="none" style="border: 0px;">
            <ion-buttons slot="end">
              <button (click)="scanQrCode()" style="margin-right: 10px;">
                <ion-icon name="qr-scanner"></ion-icon>
              </button>
              <button (click)="openAddresses()" style="margin-right: 10px;">
                <ion-icon name="bookmarks"></ion-icon>
              </button>
            </ion-buttons>
          </ion-item-divider>

          <ion-item>
            <ion-label position="stacked" class="stacked">
              {{ "Pay to" | translate }} <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-textarea rows="3" debounce=1 maxlength=60 wrap='hard' required placeholder="{{'Enter recipient address'|translate}} ..." 
              name="recipient" type="text" style="font-weight: bold" (ionChange)="validateRecipient()" [(ngModel)]="recipient" ngModel required>
             
            </ion-textarea>
          </ion-item>
          <ion-item lines="none" *ngIf="!isRecipientValid">
            <ion-label class="displayerror">{{ "Address is not valid" | translate }}!</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item >
            <ion-label position="stacked" class="stacked">
              {{ "Amount" | translate }} <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input value='0.01' style="font-weight: bold" placeholder="{{'Enter amount'|translate}} ..." (ionChange)="validateAmount()" required name="amount" maxlength="12" type="number" [(ngModel)]="amount"
              required></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="!isAmountValid">
            <ion-label color="danger" class="displayerror">{{ amountMsg }}!</ion-label>
            <!-- <ion-label color="danger">{{ amountMsg }}</ion-label> -->
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <ion-label position="stacked" class="stacked">
              {{ "Transaction Fee" | translate }} <ion-text color="danger">*</ion-text></ion-label>
            <ion-select interface="popover" name="fee" [(ngModel)]="fee" (ngModelChange)="changeFee(fee)">
              <ion-select-option *ngFor="let trxFee of allFees" [value]="trxFee">
                  {{ trxFee.name }} | {{trxFee.fee }} ZBC
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Custom Fee</ion-label>
            <ion-toggle slot="start" [(ngModel)]="customeChecked" (ionChange)="customfeeChecked()" color="light" name="customeChecked"></ion-toggle>
            <ion-input *ngIf="customeChecked" placeholder="{{'Enter amount'|translate}} ..." (ionChange)="validateCustomFee()" required name="customfee" maxlength="12" type="number" [(ngModel)]="customfee"
            required></ion-input>
          </ion-item>
          <ion-item  *ngIf="!isFeeValid">
            <ion-label  class="displayerror">{{ "Select one transaction fee" | translate }}!
            </ion-label> 
          </ion-item>
          <ion-item-divider style="border:none" lines="none">

          </ion-item-divider>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button color="tertiary" *ngIf="!isLoadingBalance" (click)="showConfirmation()" expand="block">
            {{ "Next" | translate }}
          </ion-button>
          <ion-button disabled color="tertiary" *ngIf="isLoadingBalance" (click)="showConfirmation()" expand="block">
            {{ "Next" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>



</ion-content>