<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mulstisignature</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Send Money</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>
          <h2>Participants</h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <div *ngIf="participants">
      <ion-row *ngFor="let participant of participants; let i = index; trackBy: customTrackBy">
        <ion-col>
          <ion-input type="text" [name]="'input-'+i" placeholder="{{ 'Participant ' }} {{ i + 1 }} ..."
            [(ngModel)]="participants[i]">
          </ion-input>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="nonce">
      <ion-col>
        <ion-label>
          <h2>Nonce</h2>
          <ion-input [(ngModel)]="nonce" type="number" placeholder="Nonce ..."></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="minSig">
      <ion-col>
        <ion-label>
          <h2>Minimum signature</h2>
          <ion-input type="number" [(ngModel)]="minSig"  placeholder="Minimum signature..."></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="back()" expand="block">Back</ion-button>
        <ion-button (click)="saveDraft()"  expand="block">Save to draft</ion-button>
        <ion-button (click)="next()"  expand="block">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>