.create-account-page {
  ion-item {
    --border-color: var(--ion-color-grey);
  }
}

ion-checkbox {
  margin-right: 10px;
}

.next {
  font-size: 0.9em;
}

.btn-next-disabled{
  margin-top: 100px;
}

ion-input,
ion-textarea {
  border: solid 1px #cccccc;
}

.icodisabled {
  color: #cccccc;
  font-size: 2em;
}

.icoenabled {
  color:#16A085;
  font-size: 2em;
}

ion-label{
  color: #566573;
  font-size: 0.9em;
}

ion-textarea{
  font-size: 0.9em;
}