<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add New Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-address-page">
    <ion-list padding>
      <ion-item>
        <ion-input
          padding="false"
          placeholder="Please type the name"
          [(ngModel)]="name"
          name="name"
          autocomplete="on"
          autocorrect="on"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          padding="false"
          placeholder="Please type the address"
          [(ngModel)]="address"
          name="address"
          autocomplete="on"
          autocorrect="on"
        ></ion-input>
      </ion-item>
    </ion-list>


    <div padding>

        <ion-row>
            <ion-col col-6> 
              <ion-button
                expand="block"
                color="tertiary"
                (click)="closeModal()"
                fill="outline"
                expand="block"><b>Cancel</b>
              </ion-button>
            </ion-col>
          
            <ion-col col-6>
                <ion-button
                color="secondary"
                (click)="addAddress()"
                type="submit"
                expand="block"><b>Save</b>
              </ion-button>        
            </ion-col>
        </ion-row>
    
    </div>

  </div>
</ion-content>
