<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mode==='new'">{{ "Add New Address" | translate }}</ion-title>
    <ion-title *ngIf="mode==='edit'">{{ "Edit Address" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="add-address-page">
    <ion-list padding>
      <!--
      <ion-item>
        <ion-label>Mode: {{mode}} , Index: {{index}}</ion-label>
      </ion-item>
      -->

      <ion-item>
        <ion-input
          padding="false"
          placeholder="{{ 'Please type the name' | translate }}"
          [(ngModel)]="name"
          name="name"
          autocomplete="on"
          autocorrect="on"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          padding="false"
          placeholder="{{ 'Please type the address' | translate }}"
          [(ngModel)]="address"
          name="address"
          autocomplete="on"
          autocorrect="on">
        </ion-input>

      </ion-item>

      <ion-item *ngIf="!isAddressValid" lines="none">
        <span  style="font-size: 0.8em;color:red" [innerHTML]="validationMessage"></span>
      </ion-item>
    </ion-list>


    <div padding>

        <ion-row>
            <ion-col col-6> 
              <ion-button
                expand="block"style="color:red;font-size: 0.8em"
                color="tertiary"style="color:red;font-size: 0.8em"
                (click)="closeModal()"
                fill="outline"
                expand="block">{{ "Cancel" | translate }}
              </ion-button>
            </ion-col>
          
            <ion-col col-6>
                <ion-button
                color="secondary"
                (click)="addAddress()"
                type="submit"
                expand="block">
                <span *ngIf="mode==='new'">{{ "Save" | translate }}</span>
                <span *ngIf="mode==='edit'">{{ "Update" | translate }}</span>
              </ion-button>        
            </ion-col>
        </ion-row>
    
    </div>

  </div>
</ion-content>
