<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"My Taks" | translate}} (Coming Soon)</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <ion-list>
        <ion-item (click)="showTasks()">
          <ion-label><ion-icon name="menu"></ion-icon> Approval Send Money</ion-label>
          <ion-badge color="danger" slot="end">12</ion-badge>
        </ion-item>
        <ion-item  (click)="showTasksMultisig()">
          <ion-label><ion-icon name="menu"></ion-icon> Approval Multi Signature</ion-label>
          <ion-badge color="success" slot="end">20</ion-badge>
        </ion-item>
    </ion-list>
</ion-content>