<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Task Detail</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center;">
    <h5> Escrow Transaction Detail </h5>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>
        <h5>{{ "ID" | translate }}</h5>
        <p>
          {{escrowDetail.id}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Sender" | translate }}</h5>
        <p>
          {{ escrowDetail.senderaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Recipient" | translate }}</h5>
        <p>
          {{ escrowDetail.recipientaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>{{ "Amount" | translate }}</h5>
        <p>
          {{escrowDetail.amount / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>{{ "Commission Fee" | translate }}</h5>
        <p>
          {{ escrowDetail.commission / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Instruction" | translate }}</h5>
        <p>
          {{escrowDetail.instruction}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="cancel()">{{ 'Cancel' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="confirm()">{{ 'Confirm' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" fill="outline" (click)="reject()">{{ 'Reject' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
