<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "task detail" | translate}}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" style="margin-top:5px;">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <div style="text-align: center;">
    <h5> {{ "escrow transaction detail" | translate}} </h5>
  </div>
  <ion-list *ngIf="escrowDetail">
    <ion-item>
      {{ "status" | translate}} &nbsp;
      <ion-badge *ngIf = "escrowDetail.status == 0" color="warning"  shape="round">
        {{ "pending" | translate}}
        </ion-badge>
   
        <ion-badge *ngIf = "escrowDetail.status == 1" color="success"  shape="round">
        {{ "approved" | translate}}
        </ion-badge>
   

        <ion-badge *ngIf = "escrowDetail.status == 2" color="danger"  shape="round">
        {{ "rejected" | translate}}
        </ion-badge>


        <ion-badge *ngIf = "escrowDetail.status == 3" color="warning"  shape="round">
        {{ "expired" | translate}}
        </ion-badge>

        <ion-badge *ngIf = "escrowDetail.status == 4" color="warning"  shape="round">
        {{ "unknown" | translate}}
        </ion-badge>
    </ion-item>    
    <ion-item>
      <ion-label>
        <h5>{{ "id" | translate }} : {{escrowDetail.id}}
        </h5>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "sender" | translate }}</h5>
        <p>
          {{ escrowDetail.senderaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "recipient" | translate }}</h5>
        <p>
          {{ escrowDetail.recipientaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>
          {{ "amount" | translate }}: {{escrowDetail.amount / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>{{ "commission fee" | translate }}: 
          {{ escrowDetail.commission / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item  *ngIf="escrowDetail && (escrowDetail.status !== 1 && escrowDetail.status !== 2)">
      <ion-label>
        <p>{{ "expired after block height" | translate }}: 
          {{ toNumber(escrowDetail.blockheight) + toNumber(escrowDetail.timeout) | number}}
        </p>
      </ion-label>
    </ion-item>   
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "instruction" | translate }}</h5>
        <p>
          {{escrowDetail.instruction}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid *ngIf="escrowDetail && escrowDetail.status == 0">
    <ion-row>
      <ion-col>
        <ion-button  expand="block" color="primary" (click)="confirm()">{{ "confirm" | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" fill="outline" (click)="reject()">{{ "reject" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
