<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Spinechain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" [routerLink]="['//tabs/tab2']" fill="outline" expand="full">Receive</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="round" href="https://coinmarketcap.com/" fill="outline" expand="full">Buy SPC cash</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Wallet</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>Available Balance: {{balance['BalanceNQT']}}</ion-item>
        <ion-item>Pendig Balance: {{balance['UnconfirmedBalanceNQT']}}</ion-item>
      </ion-card-content>
  </ion-card>
    
  <ion-card>
      <ion-card-header>
        <ion-card-title>Recent Transaction</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list *ngFor="let p of transactions">
          <ion-item>
            <ion-label>Time: {{p['Timestamp']}} | Amount: {{p['AmountNQT']}} | Fee: {{p['feeNQT']}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card>   

</ion-content>