<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Spinechain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button shape="round" [routerLink]="['//tabs/tab2']" fill="outline" expand="full">Receive</ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button shape="round" href="https://coinmarketcap.com/" fill="outline" expand="full">Buy SPC cash</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Wallet</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>Available Balance: {{balance['BalanceNQT']}}</ion-item>
        <ion-item>Pendig Balance: {{balance['UnconfirmedBalanceNQT']}}</ion-item>
      </ion-card-content>
  </ion-card>
    
  <ion-card>
      <ion-card-header>
        <ion-card-title>Recent Transaction</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ul>
          <li *ngFor="let p of transactions">Amount: {{p['AmountNQT']}} | Fee: {{p['feeNQT']}}</li>
        </ul>
      </ion-card-content>
  </ion-card>   

</ion-content>


<!--
<ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{data1['country']}}</ion-card-subtitle>
      <ion-card-title>{{data1['post code']}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li *ngFor="let p of data1.places">{{p['place name']}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{data2['country']}}</ion-card-subtitle>
      <ion-card-title>{{data2['post code']}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li *ngFor="let p of data2.places">{{p['place name']}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{data3['country']}}</ion-card-subtitle>
      <ion-card-title>{{data3['post code']}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li *ngFor="let p of data3.places">{{p['place name']}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{data4['country']}}</ion-card-subtitle>
      <ion-card-title>{{data4['post code']}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ul>
        <li *ngFor="let p of data4.places">{{p['place name']}}</li>
      </ul>
    </ion-card-content>
  </ion-card>
  -->


