<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Spinechain - Scan QR</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content style="text-align:center">

  <ion-icon name="qr-scanner"></ion-icon>

  <h1>{{ "SCAN.title" | translate }}</h1>
  <p>{{ "SCAN.desc" | translate }}</p>  

  <ion-button (click)="scanCode()">
    {{ "SCAN.scan" | translate }}
  </ion-button>

  <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div>


</ion-content>