<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Create New Account" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ng-template [ngIf]="pagePosition == 3">
  <ion-content class="page-generate-passphrase" color="primary">
    <p class="ion-text-center">{{ "Confirm your PIN" | translate }}</p>
    <p *ngIf="!loginFail">&nbsp;</p>
    <p *ngIf="loginFail" class="ion-text-center" style="color:yellow">{{ "Invalid PIN" | translate }}</p>
    <app-pin (keyup)="confirmPin($event)"></app-pin>
  </ion-content>
</ng-template>

<ng-template [ngIf]="pagePosition == 2">
  <ion-content class="page-generate-passphrase" color="primary">
    <p class="ion-text-center">{{ "Setup your PIN" | translate }}</p>
    <p>&nbsp;</p>
    <app-pin (keyup)="setupPin($event)"></app-pin>
  </ion-content>
</ng-template>

<ng-template [ngIf]="pagePosition == 1">
  <ion-content class="page-generate-passphrase" color="content-default">
    <div style="background: linear-gradient(0deg, #780a6d 0%, #183b85 100%);">
      <!-- <ion-item lines="none" style="background: transparent;">
          <ion-label>Language of passphrase</ion-label>
          <ion-select style="--ion-background-color:#111D12;"
            #langSelect
            placeholder="Select One"
            interface="popover"
            (ionChange)="onLanguageChanged(langSelect.value)">
            <ion-select-option style="background-color: #780a6d; background: #780a6d;"
              value="{{ lang.key }}"
              *ngFor="let lang of languages">{{ lang.name }}</ion-select-option>
          </ion-select>
        </ion-item> -->

      <div style="padding:30px;">
        <p class="passphrase">{{ passphrase }}</p>
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button no-shadow color="dark" class="btn-action" expand="block" (click)="copyToClipboard()">
            <ion-icon name="copy"></ion-icon>{{ "Copy" | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" class="btn-action" expand="block" (click)="generatePassphrase()">
            <ion-icon name="refresh-circle"></ion-icon> {{ "Regenerate" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="warning ion-margin-horizontal">
      {{ "Remember: Never tell your passphrase. If you lose it, you lose access to
      your account!" | translate }}
    </div>

    <div class="ion-margin-horizontal checklist">
      <div>
        <ion-checkbox [(ngModel)]="writtenDown"></ion-checkbox>
      </div>
      <span>{{ "I have written down or otherwise securely stored my passphrase" | translate }}</span>
    </div>

    <div class="ion-margin-horizontal checklist">
      <div>
        <ion-checkbox [(ngModel)]="terms"></ion-checkbox>
      </div>
      <span>{{ "I agree to the terms & conditions" | translate }} </span>
    </div>

    <div class="footer-generate-passphrase" class="ion-text-center" style="margin-top:20px;">
      <ion-button color="secondary" class="ion-margin-horizontal btn-submit" expand="block" (click)="setPagePosition(2)"
        *ngIf="!isPinSetup" disabled="{{ !(writtenDown && terms) }}"><b>{{ "Setup PIN" | translate }}</b></ion-button>
    </div>
  </ion-content>
</ng-template>