<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-dashboard">

  <p>
    <img src="">
  </p>

  <p class="ion-text-center">Welcome</p>

  <div class="balance-line">
    <div class="label">Available Balance:</div>
    <div>
      <div class="ion-text-end">
        <div class="amount top">100.00</div>
        <div class="amount">($ 10,000)</div>
      </div>
    </div>
  </div>

  <div class="balance-line">
    <div class="label">Pending Balance:</div>
    <div>
      <div class="ion-text-end">
        <div class="amount top">100.00</div>
        <div class="amount">($ 10,000)</div>
      </div>
    </div>
  </div>

  <div class="send-request-container">
    <h3>Send & Request</h3>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <button class="button" (click)="goToRequest()">
            <div class="icon ion-justify-content-center">
              <ion-icon name="cash" class="ion-align-self-center"></ion-icon>
            </div>
            <div class="ion-text-uppercase text">Receive Money
            </div>
          </button>
        </ion-col>
        <ion-col class="ion-text-center">
          <button class="button" (click)="goToSend()">
            <div class="icon ion-justify-content-center">
              <ion-icon name="send" class="ion-align-self-center"></ion-icon>
            </div>
            <div class="ion-text-uppercase text">Send Money</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="last-transaction-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Recent Transaction</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row class="ion-justify-content-between">
                <ion-col size="6">
                  <div>
                    <ion-label>ini nama</ion-label>
                    <div>2 days ago</div>
                  </div>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                  <div>
                    + 100.00
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>

        <ion-list *ngFor="let p of transactions">
          <ion-item>
            <ion-label>Time: fds | Amount: fds | Fee: fds</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>