<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>ZooBC</ion-title>

    <!--
    <ion-buttons slot="end">
      <ion-button (click)="loadData()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    -->
  </ion-toolbar>
</ion-header>


<ion-content class="page-dashboard">  
  <!-- Custom Refresher Content -->
  <ion-refresher slot="fixed" style="background: #ffffff;" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-card class="card-balance">
    <ion-card-content>
      

      <ion-grid>
        
        <ion-row >
          <ion-col  size="12" text-center>
              <h2 class="account-name" (click)="openListAccount()"><span >{{ account.accountName }}</span> <span><ion-icon style = "margin-left:10px;" name="arrow-dropdown"></ion-icon></span></h2>
              <ion-label sytle="margin-bottom:20px;" (click)="openListAccount()">{{ account.shortadress }}</ion-label>
          </ion-col>
        </ion-row>
      
      </ion-grid>

      

      <ion-item lines="none" class="ion-no-padding balance-item">
        <img class="logo" src="assets/images/logo-white.png" />
        <ion-label>
          <ion-label class="balance-title">
            Balance
          </ion-label>
          <ion-label class="main-balance" *ngIf="!isLoadingBalance">{{ accountBalance.balance/1e8 | number: '0.0-4' }} ZBC</ion-label>
          <!-- <ion-label class="sub-balance">-1,800.0 USD</ion-label> -->
        </ion-label>
      </ion-item>

      <ion-item lines="none" class="ion-no-padding balance-item">
        <img class="logo" src="assets/images/logo-white.png" />
        <ion-label>
          <ion-label class="balance-title">
            Spendable Balance
          </ion-label>
          <ion-label class="main-balance" *ngIf="!isLoadingBalance">{{ accountBalance.spendablebalance/1e8 | number: '0.0-4' }} ZBC</ion-label>
          <!-- <ion-label class="sub-balance">-1,800.0 USD</ion-label> -->
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <p class="title-section ion-padding-horizontal">
    {{ "Recent Transaction(s)" | translate }}
  </p>
  <ion-list class="ion-margin-top list-transaction">
    <ion-item
      *ngFor="let pendingtrx of unconfirmTx"
      button>


      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col size="7">
            <ion-label class="title">
              {{ pendingtrx.address }}
            </ion-label>
            <ion-label class="date">{{
              pendingtrx.timestamp | date: "short"
            }} <span style="color:green">pending</span></ion-label>
          </ion-col>
          <ion-col size="5" class="ion-text-end">
            <ion-label class="amount {{ pendingtrx.type }}" style="color:gray">
              {{ pendingtrx.amount / 1e8 | number: '0.0-4' }} <span style="color:grey">ZBC</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-label>

    </ion-item>
    
    <ion-item
      *ngFor="let transaction of recentTx; let i = index"
      button
      (click)="openDetailTransction(i)"
    >
      <ion-label>
        <ion-row class="ion-justify-content-between">
          <ion-col size="7">
            <ion-label class="title">
              {{ transaction.address }}
            </ion-label>
            <ion-label class="date">{{
              transaction.timestamp | date: "short"
            }}</ion-label>
          </ion-col>
          <ion-col size="5" class="ion-text-end">
            <ion-label class="amount {{ transaction.type }}">
              {{ transaction.amount / 1e8 | number: '0.0-4' }} <span style="color:grey">ZBC</span>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
