<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"About"|translate}}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>About This Mobile Wallet</h2>
  <p>
    ZooBC wallet is a mobile application that is able to connect with the ZooBC blockchain network, so it can carry out
    activities such as creating accounts, viewing balances, sending coins, displaying QRcode addresses.
  </p>

  <ion-list>
    <ion-list-header>
      <h3>Release Information</h3>
    </ion-list-header>
  </ion-list>

  <ion-list>
    <ion-item>
      <span>
        <h4>Version 0.1.14</h4>
        <h5>24 July 2020</h5>
        <ul>
          <li>Approver with options: contact, accounts,QRCode</li>
          <li>Better validation on all field in escrow transaction</li>
          <li>Add sender name, recipient name, approver name on send detail confirmation if possible</li>
          <li>Balance last time updated info on dashboard</li>
          <li>Balance auto update each time open dashboard</li>
        </ul>
      </span>
    </ion-item>
    <ion-item>
      <span>
        <h4>Version 0.1.13</h4>
        <h5>22 July 2020</h5>
        <ul>
          <li>
            Bug fixing: Receive page QRCode
          </li>
          <li>Bug fixing: escrow transaction validation</li>
          <li>Bug fixing: Contact/Address book</li>
          <li>My Task list and detil enhancement</li>
          <li>Bug fixing: send money form not reset after send money</li>
          <li>Bug fixing: first PIN Character dificult to read</li>
        </ul>
      </span>
    </ion-item>    
    <ion-item>
      <span>
        <h4>Version 0.1.12</h4>
        <h5>17 July 2020</h5>
        <ul>
          <li>
            Settings  enhancement on  language options and currency options
          </li>
          <li>Bug fixing on scan QRCode in address book</li>
          <li>Bug fixing on account list</li>
          <li>Bug fixing on contact list</li>
          <li>Scanning  QRCode from Dashboard</li>
          <li>Can create multi-signature account</li>
          <li>Sending  Money with multi-signature account</li>
          <li>Saving  multi-signature draft</li>
          <li>Export / import multi-signature draft</li>
        </ul>
      </span>
    </ion-item>    
    <ion-item>
      <span>
        <h4>Version 0.1.11</h4>
        <h5>27 May 2020</h5>
        <ul>
          <li>Add transaction fee on Trasaction History</li>
          <li>Modify sender/recipient name in Transaction history that get from account or contact list.</li>
          <li>Add balance information in Account list.</li>
          <li>Modify transfer/send screen, transaction fee options will depend on escrow timeout.</li>
          <li>Add blockheight information in transfer/send screen above of escrow timeout.</li>
          <li>Modify field escrow timeout and commition in transfer/send screen make label in right side more wide.</li>
        </ul>
      </span>
    </ion-item>
    <ion-item>
      <span>
        <h4>Version 0.1.10</h4>
        <h5>20 May 2020</h5>
        <ul>
          <li>Apply theme for all PIN, pin background will use current theme/selected</li>
          <li>On my task screen, button refresh change to pull to refresh.</li>
          <li>On transaction list paging use load more.</li>
          <li>On chat screen, now have to segment chats and contacts.</li>
          <li>Change default network to staging.</li>
        </ul>
      </span>
    </ion-item>
    <ion-item>
      <span>
        <h4>Version 0.1.9</h4>
        <h5>11 May 2020</h5>
        <ul>
          <li>Change layout of dashboard</li>
          <li>Add Chat feature, with one to one chat, push notif.</li>
          <li>Add Escrow feature in send money screen.</li>
          <li>Add Theme options, with three options: zoobc, day, night.</li>
          <!-- <li>Remove Registration & login page for Backup, use anonymous instead.</li> -->
          <li>Implement SDK for accessing zoobc node</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>10 March 2020</h5>
        <ul>
          <li>Add Cool App, Loan Calculator prototype.</li>
          <li>Add Cool app, ZooBC POS protorype.</li>
          <li>Add Push Notification support for Android version.</li>
          <li>Add Restore Address Book</li>
          <li>Add Backup Address Book</li>
          <li>Add Registration page for Backup</li>
          <li>Add Login page for Backup</li>
          <li>Bug fixing some feature that not work in old android version.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>19 Desember 2019</h5>
        <ul>
          <li>In Receive page, QR Code now with amount.</li>
          <li>Change storage from local storage to native storage for better performance</li>
          <li>Modify dashboard UI design.</li>
          <li>Modify send coin UI design.</li>
          <li>Add left menu UI design</li>
          <li>Modify splash screen.</li>
          <li>Modify generate passphrase, field number now inside text box as placeholder.</li>
          <li>Modify restore wallet, field number now inside text box as placeholder.</li>
          <li>Change copy to clipboard util, from browser clipboard to native clipboard.</li>
          <li>Add blog link in dashboard</li>
          <li>Bug fixing on send coin.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>07 Desember 2019</h5>
        <ul>
          <li>Restore wallet or open existing wallet now with input field and number.
            No need input one by one, copy your 24 passphrase and paste in one field,
            it will automatically fill in rest of fields.</li>
          <li>Modify Send Coin Page for better UI</li>
          <li>Fixing slow respon when input PIN, now better.</li>
          <li>Modify network selection, now have option: Demo (default), Alpha Network, Local Network. </li>
          <li>Modify some feature to make it work well in iOS version.</li>
          <li>Change barcode scanner with scanner that have line and box square, it will more focus and fast when
            scaning qrcode.</li>

          <li>Add aditional information in transaction detail: Transaction ID, Block ID, Height.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>21 November 2019</h5>
        <ul>
          <li>Add passphrase confirmation page.</li>
          <li>On the passphrase confirmation page, there are 2 fields that must be filled with words that match the
            original passphrase. Three fields use different colors than other fields.</li>
          <li>Passphrase on create new wallet uses a new design.</li>
          <li>The result of copying a passphrase has been added the number in front of each word, so it's easy to find
            and remember it when you need it to confirm the passphrase.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>19 November 2019</h5>
        <ul>
          <li>Bug fixing in currency selector in setting page</li>
          <li>Adding 'last updated' information in currency selector in setting page</li>
          <li>Modifying feedback form, now have error message</li>
          <li>Modifying feedback form, now feedback form will back to previous page after submiting comment succesffull.
          </li>
          <li>Modifying feedback form now have confirmation modal after successfully sending comment.</li>
          <li>Set 1 zbc = 10 dollar.</li>
          <li>Modifying dashboard to have convertion to fiat money</li>
          <li>Modifying send money form to have convertion to fiat money.</li>
          <li>Modifying send money confirmation to have convertion to fiat money</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>18 November 2019</h5>
        <ul>
          <li>Change network to alpha network</li>
          <li>Add node selector in left menu</li>
          <li>Add feedback link to all secreen</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>14 November 2019</h5>
        <ul>
          <li>Add doorbell as feedback services</li>
          <li>Modify passphrase, now with row and column and have number.</li>
          <li>Change color schema simillar to explorer and web wallet</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>8 November 2019</h5>
        <ul>
          <li>Transaction Fees can configure dynamic from server side. </li>
          <li>Move Currency selector to setting page.</li>
          <li>Move Language selector to setting page.</li>
          <li>Add My-Task page</li>
          <li>Add Apps page</li>
          <li>Add PIN in Reveal passphrase</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>5 November 2019 18:00</h5>
        <ul>
          <li>Change package to com.zoobc.mobilewallet</li>
          <li>Change vesion to alpha and start version number to 0.1.0</li>
          <li>Add Reveal Passphrase.</li>
          <li>Add Send between my accounts.</li>
          <li>Bug fixing Address book.</li>
          <li>Add Feedback form, and used firebase as backend.</li>
          <li>Add Currency rate.</li>
          <li>Add Change wallet when login.</li>
          <li>Modify send money screen, change transaction fee options as button.</li>
          <li>Review code: all harcoded string convert to Constants.</li>
          <li>Rearange project structure.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>16 October 2019 18:00</h5>
        <ul>
          <li>Add custom Fee in send money.</li>
          <li>Bug fixing in send money.</li>
          <li>Bug fixing in load more.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>14 October 2019 18:00</h5>
        <ul>
          <li>Add PIN confirmation in Open Existing Wallet.</li>
          <li>Add better validation in open existing wallet</li>
          <li>Make full address on transaction detail</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>11 October 2019 18:00</h5>
        <ul>
          <li>Modify Confirm Transaction detail, make information more detail.</li>
          <li>Modify Pending Transaction detail, make information more detail.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>10 October 2019 18:00</h5>
        <ul>
          <li>Add back button and restore wallet and create wallet.</li>
          <li>Arange services from core to services folder, and refactor some page.ts.</li>
          <li>Delete some function that no more used by other pages.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>9 October 2019 18:00</h5>
        <ul>
          <li>Add Screen: Transaction confirmation screen.</li>
          <li>Add some translation in Transaction confirmation screen.</li>
          <li>Bug fix dashboard, balance not change after switch account.</li>
          <li>Fix some deprecated CSS.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>7 October 2019 18:00</h5>
        <ul>
          <li>Modify dashboard add sign arrow for transaction history</li>
          <li>Add Load More on transaction hitory, will load 5 transactions each load.</li>
          <li>Fix some deprecated CSS.</li>
          <li>Change error msg when wrong PIN, use label instead toast.</li>
        </ul>
      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>4 October 2019 20:30</h5>

        <ul>
          <li>Change PIN in send coin screen</li>
          <li>Add barcode scanner when add address book.</li>
          <li>Add additional language: Spanish, Portugis ... </li>
        </ul>

      </span>
    </ion-item>



    <ion-item>
      <span>
        <h5>3 October 2019 20:30</h5>

        <ul>
          <li>Modify generate passphrase to make screen without scroll</li>
          <li>Add additional language: Japan, China, Rusia </li>
          <li>Modify send screen, allow select account as sender.</li>
        </ul>

      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>2 October 2019 13:30</h5>

        <ul>
          <li>Modify initial Screen to make screen without scroll</li>
          <li>Remove unwanted component in Add address book and add component.</li>
          <li>Add translation in some screen.</li>
        </ul>

      </span>
    </ion-item>

    <ion-item>
      <span>
        <h5>1 October 2019 15:25</h5>

        <ul>
          <li>Add some language: Italian, French, Hindi, Arabic, Croatian, Malay, Thai, Indonesia </li>
          <li>Can Edit Account Name in account list. Address not allowed to edit.
            if account that edited is Active account then need refresh in dashboard.</li>
        </ul>

      </span>
    </ion-item>


    <ion-item>
      <span>
        <h5>30 September 2019 20:00</h5>

        <ul>
          <li>
            Give different title Label for New and Edit Form, if Create New Account, form title is 'Create New Account',
            and Button title is 'Save'.
            if do Edit Account, title of form is 'Edit Account' and button title is 'Update'.
          </li>
        </ul>

      </span>
    </ion-item>


    <ion-item>
      <span>
        <h5>30 September 2019 12:49</h5>

        <ul>
          <li>Address book can add, edit delete</li>
          <li>Swipe left in item to edit or delete</li>
          <li>Transaction list with Name, if available in address book.</li>
          <li>Fix typo 'Recieve' change to 'Receive' in tab Receive.</li>
          <li>Better error msg if no internet or service down. For service down (node down) need wait arround 2 minutes.
          </li>
        </ul>

      </span>
    </ion-item>


    <ion-item>
      <span>
        <h5>27 September 2019 20:09</h5>

        <ul>
          <li>Minimum transfer is 0.000001</li>
          <li>Amount less than 0.000001 will round to 0</li>
          <li>Error message in send form improved!</li>
          <li>Add Balance in send form.</li>
          <li>Fix bug when switch account to new address.</li>
        </ul>

      </span>
    </ion-item>


    <ion-item>
      <span>
        <h5>27 September</h5>

        <ul>
          <li>Fix loading when service down</li>
          <li>Add Pin with delete one character</li>
          <li>Fix Timestamp in pending transaction detail</li>
          <li>Allow copy address in address book</li>
        </ul>

      </span>
    </ion-item>

    <ion-item>
      <span>

        <h5>26 September</h5>

        <ul>
          <li>Add loading indicator when service down error message</li>
          <li>Allow copy address in account list</li>
        </ul>


      </span>
    </ion-item>

    <ion-item>
      <span>

        <h5>25 September</h5>

        <ul>
          <li>Send Form, Add validation recipiont address length = 44, amount, transaction fee</li>
        </ul>

      </span>
    </ion-item>
  </ion-list>

</ion-content>