<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"About"|translate}}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "Feedback" | translate}} 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2>About This Mobile Wallet</h2>
  <p>
    ZooBC wallet is a mobile application that is able to connect with the ZooBC blockchain network, so it can carry out
    activities such as creating accounts, viewing balances, sending coins, displaying QRcode addresses.
  </p>

  <p>
  Release Information
  <br/>
  Version 0.2.10-Beta
  </p>
</ion-content>
