ion-button {
  width: 44px;
  height: 44px;
  --border-width: 1px;
  border-radius: 4px;
  font-family: 'Roboto-Medium';
}

ion-col {
  text-align: center;
}

.pinText {
  padding: 6px;
  margin-left: 4px;
  margin-right: 4px;
  color: #ffffff;
}

.btn-with-icon{
  --padding-start: 0;
  --padding-end: 0;
}