<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <ion-fab ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createNewAddress()"
      ><ion-icon name="add"></ion-icon
    ></ion-fab-button>
  </ion-fab>

  <div class="address-book-list">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>You dont have any addresses</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="addresses && addresses.length >= 1; else noData">
      <ion-list-header>
        <ion-label>Here is the list of all your addresses book</ion-label>
      </ion-list-header>
      <ion-item
        *ngFor="let address of addresses; let i = index"
        button
        (click)="selectAddress(i)"
      >
        <ion-label>
          <div class="title">{{ address.name }}</div>
          <div class="address">{{ address.address }}</div>
          <div class="created">
            Created: {{ address.created | date: "short" }}
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
