<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Create New Wallet" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="create-wallet-page ion-padding" fullscreen>
  <div>
    <div>
      <h3 class="title ion-text-center">
        {{ "We're about to generate your very own passphrase" | translate }}
      </h3>
    </div>

    <div class="description ion-text-center">
      <p>
        {{ "This keeps your account secure, and lets you open your wallet on
        multiple devices. It's very important you write this down." | translate }}
      </p>

      <ion-button expand="block" color="light" routerLink="/generate-passphrase">{{ "Generate Passphrase" | translate }}</ion-button>
    </div>

  </div>
</ion-content>
