
.ion-input-readonly{
    font-size: 0.8em;
    border: 1px solid #838383; 
    --background: #eeeeee;
}

.ion-input-normal{
    font-size: 0.8em;
    border: 1px solid #838383; 
    --background: #c4dcee;
}


ion-col{
    text-align: center;
}