<ion-content
  color="content-bg-style-1"
  padding
  class="create-wallet-page bg-style-1"
>
  <div>
    <div>
      <h3 class="title ion-text-center">
        We're about to generate your very own passphrase
      </h3>
    </div>

    <div class="description ion-text-center">
      <p>
        This keeps your account secure, and lets you open your wallet on
        multiple devices. It's very important you write this down.
      </p>

      <ion-button
        expand="block"
        color="secondary"
        routerLink="/generate-passphrase"
        >Generate Passphrase</ion-button
      >
    </div>

    <div class="btn-container">
      <ion-button (click)="goback()" expand="block" color="primary"
        >Back</ion-button
      >
    </div>
  </div>
</ion-content>
