@import "../../../assets/scss/main.scss";

.create-wallet-page {
  & > div {
    @include flex-init;
    @include flex-direction(column);
    @include justify-content(space-around);

    height: 100%;

    .title {
      font-size: 1.2rem;
    }

    .description {
      p {
        font-size: 0.8rem;
        margin-bottom: 1.2rem;
      }
      ion-button {
        width: 100%;
      }
    }

    .btn-container {
      ion-button {
        width: 100%;
      }
    }
  }
}
