<div class="account-item" [ngClass]="horizontal?'horizontal':''">
  <div class="info">
    <div class="name">
      {{ account.name }}
    </div>
    <div *ngIf="horizontal" class="address">
      {{ account.address.value | shortAddress}}
    </div>
    <div *ngIf="!horizontal" class="address">
      {{ account.address.value}}
    </div>
  </div>
  <div class="balance">
    <app-info-amount-conversion [value]="account.balance / 1e8" otherCurrency="USD"></app-info-amount-conversion>
  </div>
</div>