<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-account-page">
    <form [formGroup]="formAccount" (submit)="save()">
      <ion-list padding>
        <ion-item>
          <ion-input
            padding="false"
            placeholder="Please enter your account name"
            formControlName="name"
          ></ion-input>
        </ion-item>
      </ion-list>

      <div padding>
        <ion-button color="primary" type="submit" expand="block"
          >Create Account
        </ion-button>

        <ion-button
          fill="outline"
          color="grey"
          (click)="closeModal()"
          type="button"
          expand="block"
          >Close
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
