<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Step 3</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h2>Add Signatures</h2>
    <ion-row>
      <ion-col>
        <ion-label>
          <h2>Transaction Hash</h2>
          <ion-input type="text"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <h2>Participants Signature</h2>
          <ion-input type="text"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="">
      <ion-col>
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-input type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button color="tertiary" (click)="addParticipant()"> Add your Signature</ion-button>
      </ion-col>
    </ion-row>


    <ion-row style="margin-top: 20px;">
      <ion-col>
        <ion-button expand="block" color="secondary">Save</ion-button>
        <ion-button expand="block">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>