ion-col {
  text-align: center;
}

.background-zoobc {
  --color: #fff;
  --background: transparent;
  --background: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.background-day {
  --color: #fff;
  --background: transparent;
  --background: url("src/assets/images/background-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.background-night {
  --color: #fff;
  --background: transparent;
  --background: url("src/assets/images/background-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

ion-toolbar {
  --color: #fff;
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-footer{
  padding-bottom:40px;
}
