<ion-header no-shadow no-border>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding background-pin" fullscreen>
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">

    <ion-row  style="flex-shrink: 0;">
      <ion-col>
          <ion-title color="pinbutton">{{ 'please enter your pin' | translate }}</ion-title>
      </ion-col>
    </ion-row>

    <ion-row  style="flex-shrink: 0;">
      <ion-col>
        <ion-label *ngIf="isLoginValid">&nbsp;</ion-label>
        <ion-label *ngIf="!isLoginValid" class="ion-text-center invalidPin">{{ "Invalid PIN" | translate }}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;">
      <ion-col>
        <app-pin (ionChange)="login($event)"></app-pin>
      </ion-col>
    </ion-row>

    <ion-row  style="flex-shrink: 0;">
      <ion-col>
        <ion-label color="light" routerLink="/initial">
          {{ 'open another wallet' | translate }}
        </ion-label>
       </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
