ion-col{
    font-size: 0.8em;
}

.box-warning{
    background-color: pink; padding: 10px;
}

.box-pass{
    background-color: #ffffff; 
    padding: 5px; 
    border:1px solid black;
    font-size: 1.0em;
}
