<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ "close" | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{ "list of languages" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "you dont have any languages" | translate</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="languages; else noData">
      <ion-item *ngFor="let language of languages; let idx = index">
        <ion-label (click)="languageClicked(language)">
          {{language.code}} - {{ language.country }}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>