.info-desc{
    font-weight: bold;
}

.info-desc-confirm{
    font-weight: bold;
    color: green;
}


.info-desc-pending{
    font-weight: bold;
    color: orange;
}

.info-desc-send{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

.info-desc-receive{
    color: green;
    font-weight: bold;
    font-size: 1.2em;
}

.info-label{
    font-size: 0.9em;
}

.info-address{
    font-size: 0.9em;
    font-weight: bold;
}