<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Transaction Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="info-list">
    <ion-item>
      <ion-label>
        <p class="info-label">Sender Address</p>
        <p class="info-desc">3DG1M9SR99auKv9gz4fWDf87iIOdlkmp_sEdqTF8XEHQ</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Recipient Address</p>
        <p class="info-desc">3DG1M9SR99auKv9gz4fWDf87iIOdlkmp_sEdqTF8XEHQ</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Amount</p>
        <p class="info-desc">10 ZBC</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Amount USD</p>
        <p class="info-desc">10.000 USD</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Fee</p>
        <p class="info-desc">0.0023 ZBC</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Fee USD</p>
        <p class="info-desc">0.0023 ZBC</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p class="info-label">Transaction Date</p>
        <p class="info-desc">21/09/2019</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
