<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title
      >{{ "Sell" | translate }} ZooBC ( {{ "Coming Soon" | translate }}
      )</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content color="content-default">
  <form [formGroup]="sellForm">
    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <p class="label">Sell From Account</p>

        <ion-item color="content-default" lines="none">
          <ion-input placeholder="Enter account" type="number"></ion-input>
        </ion-item>
      </div>

      <div class="form-item ion-margin-top">
        <p class="label">Buyer address</p>

        <ion-item color="content-default" lines="none">
          <ion-input
            placeholder="Enter buyer address"
            type="number"
          ></ion-input>
        </ion-item>
      </div>

      <div class="form-item ion-margin-top">
        <p class="label">Amount Sell (ZBC)</p>

        <ion-item color="content-default" lines="none">
          <ion-input placeholder="Enter amount" type="number"></ion-input>
        </ion-item>
      </div>

      <div class="form-item ion-margin-top">
        <p class="label">Amount you will get</p>

        <ion-item color="content-default" lines="none">
          <ion-input placeholder="Enter amount" type="number"></ion-input>
        </ion-item>
      </div>

      <div class="form-item ion-margin-top">
        <p class="label">Fee</p>

        <ion-item color="content-default" lines="none">
          <ion-input placeholder="Enter fee" type="number"></ion-input>
        </ion-item>
      </div>

      <div class="ion-padding">
        <ion-button expand="full" color="primary" (click)="onSubmit()"
          >Send</ion-button
        >
      </div>
    </div>
  </form>
</ion-content>
