ion-content{
  --background: #fff;

  ion-list{
    background-color: transparent;

    ion-item{
      --background: transparent;
    }
  }
}

.info-val-pending{
    font-weight: bold;
    color: var(--ion-color-warning);
}

.info-val-confirm{
    font-weight: bold;
    color: var(--ion-color-success);
}

.info-val-send{
    font-weight: bold;
    color: var(--ion-color-danger);
}

.info-val-receive{
    font-weight: bold;
    color: var(--ion-color-success);
}
