.info-label{
    color: var(--ion-color-medium);
}

.info-val{
    font-weight: bold;
    color: var(--ion-color-dark);
}

.info-val-pending{
    font-weight: bold;
    color: var(--ion-color-warning);
}

.info-val-confirm{
    font-weight: bold;
    color: var(--ion-color-success);
}

.info-val-send{
    font-weight: bold;
    color: var(--ion-color-danger);
}

.info-val-receive{
    font-weight: bold;
    color: var(--ion-color-success);
}

.iconCopy{
    margin-left: 10px;
    font-size: 1.4em;
}