<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "Transaction Detail" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="info-list">
    <ion-item>
      <ion-label>
        <p class="info-label">{{ "Status" | translate }}</p>
        <p *ngIf="status==='confirm'" class="info-val-confirm">{{ status | uppercase}}</p>
        <p *ngIf="status!=='confirm'" class="info-val-pending">{{ status | uppercase}}</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="transaction.id">
      <ion-label>
        <p class="info-label">{{ "Transaction ID" | translate }}</p>
        <p class="info-val">
          {{ toZbcFormat(transaction.id, 'ZTX') | shortAddress }}
          <ion-icon class="iconCopy"
          slot="end"
          name="copy"
          (click)="copyAddress(toZbcFormat(transaction.id, 'ZTX'))"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="transaction.blockId">
      <ion-label>
        <p class="info-label">{{ "Block ID" | translate }}</p>
        <p class="info-val">
          {{ toZbcFormat(transaction.blockId, 'ZBL') | shortAddress}}
          <ion-icon class="iconCopy"
          slot="end"
          name="copy"
          (click)="copyAddress(toZbcFormat(transaction.blockId, 'ZBL'))"></ion-icon>
        </p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="transaction.height || transaction.height === 0">
      <ion-label>
        <p class="info-label">{{ "Height" | translate }}</p>
        <p class="info-val">
          {{ transaction.height }}
        </p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <p class="info-label">{{ "Transaction Date" | translate }}</p>
        <p class="info-val">
          {{ transaction.timestamp | date: "medium" }}
        </p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="transaction.type !== 'send'">
      <ion-label>
        <p class="info-label">{{ "Sender Address" | translate }}</p>
        <p class="info-val">{{ transaction.sender | shortAddress }}
          <ion-icon class="iconCopy"
          slot="end"
          name="copy"
          (click)="copyAddress(transaction.sender)"></ion-icon>
        </p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="transaction.type === 'send'">
      <ion-label>
        <p class="info-label">{{ "Recipient Address" | translate }}</p>
        <p class="info-val">{{ transaction.recipient | shortAddress }}
          <ion-icon class="iconCopy"
          slot="end"
          name="copy"
          (click)="copyAddress(transaction.recipient)"
        ></ion-icon>
  
        </p>
      </ion-label>
     </ion-item>

    <ion-item *ngIf="transaction.type === 'send'">
      <ion-label>
        <p class="info-label">{{ "Amount" | translate }}</p>
        <p class="info-val-send">- {{ transaction.amount / 1e8 | number: '0.2-4' }} ZBC</p>
      </ion-label>
    </ion-item>

    <ion-item  *ngIf="transaction.type !== 'send'">
        <ion-label>
          <p class="info-label">{{ "Amount" | translate }}</p>
          <p class="info-val-receive">+ {{ transaction.amount / 1e8 | number: '0.2-4'}} ZBC</p>
        </ion-label>
    </ion-item>

    <ion-item *ngIf="transaction.type === 'send'">
      <ion-label>
        <p class="info-label">{{ "Fee" | translate }}</p>
        <p class="info-val-send">- {{ transaction.fee / 1e8 | number: '0.2-4'}} ZBC</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item *ngIf="transaction.type !== 'send'">
      <ion-label>
        <p class="info-label">{{ "Fee" | translate }}</p>
        <p class="info-val-receive">{{ transaction.fee / 1e8 | number: '0.2-4'}} ZBC</p>
      </ion-label>
    </ion-item> -->

    <!-- <ion-item>
      <ion-label>
        <p class="info-label">{{ "Total" | translate }}</p>
        <p class="info-val">{{ transaction.total / 1e8 }} ZBC</p>
      </ion-label>
    </ion-item> -->

    <!-- 
    <ion-item>
      <ion-label>
        <p class="info-label">{{ "Fee" | translate }} USD</p>
        <p class="info-val">{{ transaction.fee / 1e8 }} ZBC</p>
      </ion-label>
    </ion-item> -->
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="close()" color="secondary"
          >{{ "Close" | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
