<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Acc Address:</ion-label>
          <ion-textarea rows="2" placeholder="Enter Address" [(ngModel)]="AccAddress" readonly></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Name:</ion-label>
          <ion-input placeholder="Enter Name" [(ngModel)]="Name" readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Comment:</ion-label>
          <ion-textarea [(ngModel)]="Comment" placeholder="Enter Comment here..." rows="6"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <!-- <ion-button type="submit" expand="block">Submit</ion-button> -->
        <ion-button expand="block" (click)="CreateRecord()" [disabled]="!Name || !AccAddress || !Comment">
          {{ "Submit" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-button expand="block" color="light" routerLink="/list-feedback">
          {{ "Show All Feedback" | translate }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- 
<ion-content padding>
  <form >
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Subject<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Message<ion-text color="danger">*</ion-text></ion-label>
        <ion-textarea rows="4"></ion-textarea>
      </ion-item>
    </ion-list>


    <div padding>

        <ion-row>          
            <ion-col col-12 text-center>
                <ion-button
                color="secondary"
                (click)="addAddress()"
                type="submit"
                expand="block"><b>Submit</b>
              </ion-button>        
            </ion-col>
        </ion-row>
    
    </div>


  </form>
</ion-content> -->