<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "feedback" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formFeedback" (ngSubmit)="CreateRecord()">
    <ion-list class="form-list">
      <ion-item lines="none" class="form-item">
        <ion-label position="stacked">{{ "name" | translate }}</ion-label>
        <ion-input placeholder="{{ 'please type your name' | translate }}" formControlName="name"></ion-input>
        <ng-container *ngIf="(submitted || name.dirty || name.touched) && name.invalid">
          <ion-text class="text-error"
            *ngIf="name.errors.required">
            {{ "name cannot be empty" | translate}}
          </ion-text>
          <ion-text class="text-error" *ngIf="name.errors.minlength">
            {{ "the name is too short" | translate}}
          </ion-text>
        </ng-container>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-label position="stacked">{{ "email" | translate }}</ion-label>
        <ion-input placeholder="{{ 'please type your email' | translate }}" formControlName="email"></ion-input>
        <ng-container *ngIf="(submitted || email.dirty || email.touched) && email.invalid" >
          <ion-text class="text-error" *ngIf="email.errors.required">
            {{ "email cannot be empty" | translate}}
          </ion-text>
          <ion-text class="text-error" *ngIf="email.errors.email">
            {{ "email is not valid" | translate}}
          </ion-text>
        </ng-container>
      </ion-item>

      <ion-item lines="none" class="form-item">
        <ion-label position="stacked">{{ "comment" | translate }}</ion-label>
        <ion-textarea placeholder="{{ 'please write some comment' | translate }}" formControlName="comment"></ion-textarea>
        <ng-container *ngIf="(submitted || comment.dirty || comment.touched) && comment.invalid">
          <ion-text class="text-error" *ngIf="comment.errors.required">
            {{ "comment cannot be empty" | translate}}
          </ion-text>
          <ion-text class="text-error" *ngIf="comment.errors.minlength">
            {{ "the comment is too short" | translate}}
          </ion-text>
        </ng-container>
      </ion-item>
    </ion-list>

    <p *ngIf="isSending"><ion-progress-bar type="indeterminate"></ion-progress-bar></p>

    <ion-button class="btn-submit" color="secondary" expand="block" type="submit" [disabled]="formFeedback.invalid">
      {{ "submit" | translate }}
    </ion-button>

  </form>
</ion-content>