<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Msig Task Detail</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" style="margin-top:5px;">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>

  <div style="text-align: center;">
    <h5> Escrow Transaction Detail </h5>
  </div>
  <ion-list *ngIf="multiSigDetail && !isLoading">
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Sender" | translate }}</h5>
        <p>
          {{ multiSigDetail.senderaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Recipient" | translate }}</h5>
        <p>
          {{ multiSigDetail.recipientaddress }}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>{{ "Amount" | translate }}</h5>
        <p>
          {{multiSigDetail.amount / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h5>{{ "Fee" | translate }}</h5>
        <p>
          {{ multiSigDetail.fee / 1e8 | number: '0.0-8' }} ZBC
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Blockheight" | translate }}</h5>
        <p>
          {{multiSigDetail.blockheight}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <h5>{{ "Date" | translate }}</h5>
        <p>
          {{multiSigDetail.timestamp * 1000 | date: 'medium'}}
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="danger" *ngIf="pendingSignatures.length == 0">
       <p> {{ 'No participants have signed yet' | translate }}</p>
      </ion-label>
      <ion-label color="success" *ngIf="pendingSignatures.length > 0">
        <p>{{ 'Signed by' | translate }} {{ pendingSignatures.length }} of {{ participants.length }}
        {{ 'participants' | translate }}</p>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" (click)="confirm()">{{ 'Confirm' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary" fill="outline" (click)="reject()">{{ 'Reject' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
