ion-icon{
    display: inline-block;
    font-size: 1.3em;
    vertical-align: middle;
}

.address{
    font-size: 0.8em;
}

ion-col{
    padding-left: 0px;
    padding-right: 0px;
}

ion-checkbox {
    display: inline-block;
    font-size: 0.8em;
    vertical-align: middle;
}

.textcustom{
    display: inline-block;
    vertical-align: middle;
}

.ion-row-cont{    
    border: 1px solid #989aa2;
    border-radius: 1px;
}

ion-grid{
    margin-bottom: 10px;
}

.sufix{
    margin-top:10px; 
    color: var(--ion-color-primary);
}

ion-content{
    margin-bottom: 30px;
}