.row-crate-new-steps {
  font-size: 0.8rem;

  ion-col::before {
    display: block;
    content: "";
    height: 3px;
    width: 50%;
    background-color: #eeeeee;
    position: absolute;
    bottom: 15px;
  }
  ion-col:first-child::before {
    right: 0;
  }
  ion-col:last-child::before {
    left: 0;
  }

  .text {
    margin-bottom: 0.2rem;
    color: #8c8c8c;
  }

  .bullet {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;

    display: inline-block;
    border: 1px solid #eeeeee;
    background-color: #fff;
    z-index: 2;
    position: relative;

    width: 18px;
    height: 18px;
  }

  ion-col.active .text {
    color: #000;
  }

  ion-col.active .bullet {
    background-color: #2979cc;
  }
}
