.modal-list-account {
  h3 {
    font-size: 0.8rem;
    color: #898989;
    margin-bottom: 0.2rem;
  }

  .address {
    margin-bottom: 0.2rem;
  }

  .balance {
    font-size: 0.7rem;
    color: green;
  }
}
