<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Apps" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content-default">
  <ion-row>
    <ion-col>
      <button class="app-button button-sell" (click)="openSellApp()">
        <img src="../../../assets/images/logo.png" />
        <p>Sell ZooBC</p>
      </button>
    </ion-col>
    <ion-col>
      <button class="app-button" (click)="openOtherApp()">
        <ion-icon name="apps"></ion-icon>
        <p>Other App</p>
      </button>
    </ion-col>
  </ion-row>
</ion-content>
