<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "apps" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h5>{{ "coming soon" | translate }}</h5>
  </div>
  <ion-list lines="none" class="list-apps">
    <ion-item class="ion-no-padding">
      <ion-card>
        <ion-card-content>
          <ion-label class="ion-text-wrap">
            <h3>{{ "sell zoobc" | translate}} </h3>
            <p>{{ "buy and sell zoobc coins directly via the zoobc app." | translate}}</p>
            <ion-button (click)="showSellApp()" expand="block">{{ "read more" | translate }}</ion-button>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item class="ion-no-padding">
      <ion-card>
        <ion-card-content>
          <ion-label class="ion-text-wrap">
            <h3>{{ "another zoobc app" | translate}}</h3>
            <p>{{ "do and do this and that with our new another zoobc app." | translate}}</p>
            <ion-button (click)="showListOtherApp()" expand="block">{{ "read more" | translate }}</ion-button>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>