<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'apps' | translate }} 
    </ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ 'feedback' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <h5>{{ 'apps' | translate }} <i>({{ 'coming soon' | translate }}) </i></h5>
  </div>
  <ion-list>
    <ion-item (click)="showSellApp()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/logo.png">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ 'sell zoobc' | translate }}</h3>
      </ion-label>
    </ion-item>
    <ion-item (click)="showListOtherApp()">
      <ion-thumbnail slot="start">
        <img src="../../../assets/images/logo.png">
      </ion-thumbnail>
      <ion-label>
        <h3>{{ 'zoobc cool app' | translate }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>