<ion-content>
  <div class="generate-passphrase">
    <ion-card>
      <ion-card-content>
        <pre>Keep close to Nature's heart and break clear away, once in awhile</pre>
        <ion-button expand="block" fill="outline">Copy to Clipboard</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-label>I have written down or otherwise securely stored my passphrase</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>I agree to the terms & conditions </ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="setup-pin">
      <ion-button expand="block" routerLink="/setup-pin">Setup PIN</ion-button>
    </div>
  </div>
</ion-content>