<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Create New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-generate-passphrase">
  <div class="ion-margin-top">
    <app-create-new-steps active="{{ pageStep }}"></app-create-new-steps>
  </div>

  <ng-template [ngIf]="pagePosition == 3">
    <ion-content class="page-generate-passphrase">
      <p class="ion-text-center">Confirm your PIN</p>
      <app-pin (keyup)="confirmPin($event)"></app-pin>
    </ion-content>
  </ng-template>

  <ng-template [ngIf]="pagePosition == 2">
    <ion-content class="page-generate-passphrase">
      <p class="ion-text-center">Setup your PIN</p>
      <app-pin (keyup)="setupPin($event)"></app-pin>
    </ion-content>
  </ng-template>

  <ng-template [ngIf]="pagePosition == 1">

    <ion-card class="card-passphrase ion-margin-horizontal">
      <ion-card-content>
        <p class="passphrase">{{ passphrase }}</p>
      </ion-card-content>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            no-shadow
            color="dark"
            class="btn-action"
            expand="block"
            (click)="copyToClipboard()"
            ><ion-icon name="copy"></ion-icon>Copy Passphrase</ion-button
          >
        </ion-col>
        <ion-col>
          <ion-button
            color="tertiary"
            class="btn-action"
            expand="block"
            (click)="generatePassphrase()"
          >
            <ion-icon name="refresh-circle"></ion-icon> Regenerate
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="warning ion-margin-horizontal">
      Remember: Never tell your passphrase. If you lose it, you lose access to
      your account!
    </div>

    <div class="ion-margin-horizontal checklist">
      <div>
        <ion-checkbox [(ngModel)]="writtenDown"></ion-checkbox>
      </div>
      <span
        >I have written down or otherwise securely stored my passphrase</span
      >
    </div>

    <div class="ion-margin-horizontal checklist">
      <div>
        <ion-checkbox [(ngModel)]="terms"></ion-checkbox>
      </div>
      <span>I agree to the terms & conditions </span>
    </div>

    <div class="footer-generate-passphrase" text-center style="margin-bottom:20px;">
      <ion-button
        color="secondary"
        class="ion-margin-horizontal btn-submit"
        expand="block"
        (click)="setPagePosition(2)"
        *ngIf="!isPinSetup"
        disabled="{{ !(writtenDown && terms) }}"><b>Setup PIN</b></ion-button
      >
    </div>
  </ng-template>
</ion-content>
