@import "../../assets/scss/main.scss";

.page-generate-passphrase {
  padding: 10px;
  position: relative;
  height: 100%;

  .your-passphrase {
    font-size: 0.8rem;
  }

  .card-passphrase {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .warning {
    background: #fff176;
    color: #353535;
    padding: 0.8rem;

    // margin-bottom: 1rem;
    // margin-top: 1rem;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .passphrase {
    font-size: 1.0rem;
    text-align: center;
    color: #333333;
    font-family: "Montserrat-Bold";
  }

  ion-grid {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn-action {
    margin-top: 0.1rem;
    font-size: 0.8rem;

    --box-shadow: none;
    --background: var(--ion-color-btn);

    ion-icon {
      margin-right: 0.2rem;
    }
  }

  .checklist {
    display: flex;
    font-size: 0.8rem;
    margin-top: 0.8rem;

    ion-checkbox {
      margin-right: 0.8rem;
    }
  }
}

.footer-generate-passphrase {
  .btn-submit {
    font-family: "Montserrat-Bold";
  }
}
