<ion-content>
  <div class="generate-passphrase">
    <ion-card>
      <ion-card-content>
        <pre>{{ passphrase }}</pre>
        <ion-button expand="block" fill="outline" (click)="copyToClipboard()">Copy to Clipboard</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item>
        <ion-label>I have written down or otherwise securely stored my passphrase</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label>I agree to the terms & conditions </ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-list>

    <div class="setup-pin">
      <ion-button expand="block" routerLink="/setup-pin" *ngIf="!isPinSetup">Setup PIN</ion-button>
      <ion-button expand="block" (click)="goToAccount()" *ngIf="isPinSetup">Go To Account</ion-button>
    </div>
  </div>
</ion-content>