<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Spinechain</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu type="overlay" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Account</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="activeAccount" (ionChange)="selectAccount($event)">
          <ion-select-option *ngFor="let account of accounts; let i = index" value="{{ i }}">{{ account.address }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" fill="clear" (click)="goToGenerate()">Create new Account</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>