<ion-menu type="overlay" menuId="mainMenu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ "Settings" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>{{ "Account" | translate }}</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="activeAccount" (ionChange)="selectAccount()">
          <ion-select-option *ngFor="let account of accounts; let i = index" value="{{ i }}"
            [attr.selected]="i === activeAccount">{{ account.accountName }}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ "Language" | translate }}</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="activeLanguage" (ionChange)="selectActiveLanguage()">
          <ion-select-option *ngFor="let language of languages; let i = index" value="{{ language.code }}">
            {{ language.country }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item href="/node-admin">
        <ion-label>{{ "Node Admin" | translate }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-button expand="block" fill="clear" (click)="goToGenerate()">{{ "Create New Account" | translate }}
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>