<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content-darker">
  <form [formGroup]="formAccount" (submit)="save()">
    <div class="ion-padding-top ion-padding-bottom form-item-container">
      <div class="form-item">
        <ion-label class="label">Account Name</ion-label>
        <ion-item lines="none" color="content-default">
          <ion-input
            padding="false"
            placeholder="Please enter your account name"
            formControlName="name"
          ></ion-input>
        </ion-item>
      </div>
    </div>

    <ion-button
      [disabled]="!formAccount.valid"
      expand="block"
      color="primary"
      type="submit"
      class="ion-margin-start ion-margin-end ion-margin-top"
      >Create Account
    </ion-button>

    <div class="ion-text-center">
      <ion-button
        class=" ion-margin-top ion-margin-auto"
        fill="clear"
        color="medium"
        (click)="closeModal()"
        type="button"
        >Close
      </ion-button>
    </div>
  </form>
</ion-content>
