<div style="margin-top: 20px;">
  <ion-grid class="ion-text-center">
    <ion-row style="margin-bottom: 20px;">
      <ion-col col-4></ion-col>
      <ion-col class="ion-text-center">

        <ion-text style="padding:6px">{{pin2[0]}}</ion-text>
        <ion-text style="padding:6px; margin-left:8px;">{{pin2[1]}}</ion-text>
        <ion-text style="padding:6px; margin-left:8px;">{{pin2[2]}}</ion-text>
        <ion-text style="padding:6px; margin-left:8px;">{{pin2[3]}}</ion-text>
        <ion-text style="padding:6px; margin-left:8px;">{{pin2[4]}}</ion-text>
        <ion-text style="padding:6px; margin-left:8px;">{{pin2[5]}}</ion-text>

      </ion-col>
      <ion-col col-4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('1')">1</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('2')">2</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('3')">3</ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('4')">4</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('5')">5</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('6')">6</ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('7')">7</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('8')">8</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('9')">9</ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="clear()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="handleInput('0')">0</ion-button>
      </ion-col>
      <ion-col>
        <ion-button size="large" shape="round" color="light" fill="outline" (click)="clearOne()">
          <ion-icon name="backspace"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
  </ion-grid>