<ion-item lines="none" class="form-item">
  <ion-label *ngIf="displayConverter" slot="end">
    <ion-text>{{ group.get(amountName).value | number: '0.0-8' }} ZBC</ion-text>
    <ion-text>
      {{ amountCurrency | number: '0.0-2' }}
      {{ currencyRate.name }}
    </ion-text>
  </ion-label>
</ion-item>
<ng-container>
  <ion-item lines="none" class="form-item">
    <ion-select value="ZBC" (selectionChange)="onChangeCoin($event.value)">
      <ion-select-option value="ZBC">ZBC</ion-select-option>
      <ion-select-option value="Fiat" *ngIf="currencyRate.name">{{ currencyRate.name }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none" class="form-item" *ngIf="typeCoinName === 'ZBC'">
    <ion-label position="stacked">{{ label }}</ion-label>
    <!-- <ion-input formControlName="{{ amountName }}" (keyup)="onChangeAmountField($event.target.value)" (change)="onChangeAmountField($event.target.value)"
      type="number"  placeholder="{{ label }}"></ion-input> -->
  </ion-item>
  <ion-item lines="none" class="form-item" *ngIf="typeCoinName === 'Fiat'">
    <ion-label position="stacked">{{ label }}</ion-label>
    <input (keyup)="onChangeAmountCurrencyField($event.target.value)"
      (change)="onChangeAmountCurrencyField($event.target.value)" type="number" [value]="amountCurrency"
      placeholder="{{ currencyRate.name }} {{ 'amount' | translate }}">
  </ion-item>
</ng-container>