.form-fee {
  .buttons-container {
    display: flex;
    margin-left: -0.2rem;
    margin-right: -0.2rem;

    .button-item {
      margin-left: 0.2rem;
      margin-right: 0.2rem;

      width: 100px;
      height: 100px;

      &.active {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-primary-contrast);
      }

      > div {
        display: flex;
        flex-direction: column;

        .fee {
          font-weight: 700;
        }

        .value {
          font-size: 0.8rem;
        }
      }
    }
  }
}
