<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Create New Account" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="create-account-page">
    <ion-list padding>
      <ion-item>
        <ion-input
          padding="false"
          placeholder="Please enter your account name"
          [(ngModel)]="accountName"
          name="sender"
          autocomplete="on"
          autocorrect="on"
        ></ion-input>
      </ion-item>
    </ion-list>


    <div padding>

        <ion-row>
            <ion-col col-6> 
              <ion-button
                expand="block"
                color="secondary"
                (click)="closeModal()"
                fill="outline"
                expand="block">{{ "Cancel" | translate }}
              </ion-button>
            </ion-col>
          
            <ion-col col-6>
                <ion-button
                color="primary"
                (click)="createAccount()"
                type="submit"
                expand="block">{{ "Save" | translate }}
              </ion-button>        
            </ion-col>
        </ion-row>
    
    </div>

  </div>
</ion-content>
