<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ "close" | translate}}</ion-button>
    </ion-buttons>
    <ion-title>{{ "list of account" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "you dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="accounts && accounts.length >= 1; else noData">
      <ion-item *ngFor="let account of accounts; let i = index">
        <ion-label (click)="accountClicked(account)">
          <div class="title" *ngIf="account.name">{{ account.name }}</div>
          <div class="address">{{ account.address.value | shortAddress }}</div>
          <!-- <div class="title" *ngIf="!isLoadingBalance">
            {{account.balance / 1e8 | number: '0.0-2' }} ZBC
          </div> -->
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>