<ion-content padding class="initial-page">
  <ion-list style="border: none; background: transparent">
    <ion-item>
      <!-- <ion-icon name="globe"></ion-icon> -->
      <!-- <ion-label>{{ "Language" | translate }}</ion-label> -->
      <ion-select interface="popover" [(ngModel)]="activeLanguage" (ionChange)="selectActiveLanguage()">
        <ion-select-option *ngFor="let language of languages; let i = index" value="{{ language.code }}">
          {{ language.country }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="">
    <div class="logo-container">
      <img src="assets/images/logo-color.png" />
    </div>

    <div class="welcome-text ion-text-center">
      <span class="text1">{{ "Welcome to ZooBC Wallet." | translate }}</span><br />
      <span class="text2">{{ "Please choose" | translate }} <br />
        {{ "one of signin methods bellow" | translate }}.</span>
    </div>

    <div class="btn-container">
      <ion-button expand="block" color="tertiary" routerLink="/create-wallet">
        {{ "Create New Wallet" | translate }}</ion-button>
      <span>{{ "OR" | translate }}</span>
      <ion-button expand="block" color="secondary" routerLink="/existing-wallet">
        {{ "Open Existing Wallet" | translate }} </ion-button>
    </div>
  </div>
</ion-content>