<ion-content padding class="initial-page">
  <div class="">
    <div class="logo-container">
      <img src="assets/images/logo-white.png" />
    </div>

    <div class="welcome-text ion-text-center">
      <span class="text1">Wellcome to ZooBC Wallet.</span><br />
      <span class="text2"
        >Please choose<br />one of signin methods bellow.</span
      >
    </div>

    <div class="btn-container">
      <ion-button expand="block"  color="tertiary" routerLink="/create-wallet"
        >Create New Wallet</ion-button
      >
      <span>OR</span>
      <ion-button expand="block" color="secondary" routerLink="/existing-wallet"
        >Open Existing Wallet</ion-button
      >
    </div>
  </div>
</ion-content>
