@import "../../assets/scss/mixins/_mixins";

.initial-page {
  
  & > div {
    @include flex-init;
    @include flex-direction(column);
    @include justify-content(space-around);

    height: 84%;

    .welcome-text {
      .text1 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        display: inline-block;
        color: var(--text-color);
      }
      .text2 {
        font-size: 0.8rem;
        color: var(--text-color);
      }
    }

    
    .btn-container {
      ion-button {
        width: 100%;
      }

      span {
        display: block;
        text-align: center;
        margin-top: 1rem;
        color: var(--text-color);
        margin-bottom: 1rem;
      }
    }
  }
}
