<ion-content>
  <div class="home-header">
    <div class="scan-container">
      <ion-icon name="zbc-scan" (click)="goToScan()"></ion-icon>
    </div>
    <ion-label class="account" *ngIf="account" color="medium" (click)="switchAccount($event)">
      <div class="account-name-container">
        <h1 class="account-name">{{ account.name }}</h1>
        <ion-icon name="zbc-chevron-down" color="secondary"></ion-icon>
      </div>
      <p>{{ account.address | shortAddress }}</p>
    </ion-label>

    <ion-label class="main-balance">
      <ion-text class="amount">
        <span class="sufix">ZBC</span>
        {{ accountBalance.balance/1e8 | number: '0.0-2' }}
      </ion-text>
    </ion-label>

    <ion-label class="other-balance">
      <ion-text class="amount">
        spendable
        <span class="sufix">ZBC</span>
        {{ accountBalance.spendablebalance/1e8 | number: '0.0-2' }}
      </ion-text>
    </ion-label>
  </div>

  <ion-card class="card-buttons">
    <ion-card-content>
      <ion-label (click)="goToSend()">
        <ion-icon name="zbc-arrow-up" color="secondary"></ion-icon>
        <ion-text>
          <h2>{{ "Send" | translate }}</h2>
        </ion-text>
      </ion-label>
      <ion-label (click)="goToReceive()">
        <ion-icon name="zbc-arrow-down" color="secondary"></ion-icon>
        <ion-text>
          <h2>Receive</h2>
        </ion-text>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list class="transaction-list">
        <ion-item>
          <div class="transaction-header">
            <div>
              <ion-icon name="zbc-clock" color="secondary"></ion-icon>
              <span>Transactions</span>
            </div>
            <span *ngIf="recentTx && recentTx.length>=1" class="all" (click)="goToTransactions()">See All</span>
          </div>
        </ion-item>
        <ng-container *ngIf="isLoadingRecentTx; else transactionList">
          <ion-item *ngFor="let i of [0, 1, 2, 3, 4, 5]">
            <app-skeleton-transaction></app-skeleton-transaction>
          </ion-item>
        </ng-container>
        <ng-template #transactionList>
          <ng-container *ngIf="recentTx && recentTx.length>=1; else noTransaction">
            <ion-item *ngFor="let transaction of recentTx; let i = index"
              (click)="goToTransactionDetail(transaction.id)">
              <app-transaction-item [transaction]="transaction"></app-transaction-item>
            </ion-item>
          </ng-container>
        </ng-template>
        <ng-template #noTransaction>
          <ion-item>
            <ion-label>You don't have any transctions</ion-label>
          </ion-item>
        </ng-template>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-article">
    <ion-img src="assets/images/sampleblog1.jpg"></ion-img>
    <div class="cover"></div>
    <div class="title">What Is Lightning Network? And How Does It Work?</div>
  </ion-card>
</ion-content>