<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Export/Import" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p class="info">Copy the text below to export or paste below to import contacts</p>

    <div class="form-container">
      <textarea [(ngModel)]="addresses" #addressesModel="ngModel"
        placeholder="Please enter addresses in json format"></textarea>
    </div>

    <div class="buttons-container">
      <ion-button (click)="save()" color="tertiary">Save</ion-button>
      <ion-button (click)="copy()">Copy</ion-button>
    </div>
  </div>
</ion-content>