<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "export/import" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <p class="info">{{ "copy the text below to export or paste below to import contacts" | translate}}</p>

    <div class="form-container">
      <textarea [(ngModel)]="addresses"
        placeholder="{{'please enter addresses in json format' | translate }}" ></textarea>
    </div>

    <div class="buttons-container">
      <ion-button (click)="save()" color="tertiary">{{ "save" | translate}}</ion-button>
      <ion-button (click)="copy()">{{ "copy" | translate}}</ion-button>
    </div>
  </div>
</ion-content>