<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Task Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="content-default">
  <ion-list color="content-default" no-padding class="info-list">
    <ion-item color="content-default">
      <ion-label>
        <h2 class="info-label">{{ "ID" | translate }}</h2>
        <p class="info-desc">
          133556233909324037
        </p></ion-label
      >
    </ion-item>
    <ion-item color="content-default">
      <ion-label>
        <h2 class="info-label">{{ "Sender" | translate }}</h2>
        <p class="info-desc">
          Zks3JggDVYOvlgZEV4BzTEwj6FvuXTKItuCi_NtOmb2A
        </p></ion-label
      >
    </ion-item>
    <ion-item color="content-default">
      <ion-label>
        <h2 class="info-label">{{ "Recipient" | translate }}</h2>
        <p class="info-desc">
          Zks3JggDVYOvlgZEV4BzTEwj6FvuXTKItuCi_NtOmb2A
        </p></ion-label
      >
    </ion-item>
    <ion-item color="content-default">
      <ion-label>
        <h2 class="info-label">{{ "Amount" | translate }}</h2>
        <p class="info-desc">
          1,000 ZBC
        </p></ion-label
      >
    </ion-item>
    <ion-item color="content-default">
      <ion-label>
        <h2 class="info-label">{{ "Commission Fee" | translate }}</h2>
        <p class="info-desc">
          10 ZBC
        </p></ion-label
      >
    </ion-item>
    <ion-item color="content-default">
      <ion-label class="ion-text-wrap">
        <h2 class="info-label">{{ "Instruction" | translate }}</h2>
        <p class="info-desc">
          Please check sender balance if already get 5 bitcoin before confirm
        </p></ion-label
      >
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <p>
      <ion-button strong expand="block" color="primary" (click)="confirm()"
        >Confirm</ion-button
      >
    </p>
    <p>
      <ion-button fill="outline" expand="block" (click)="reject()"
        >Reject</ion-button
      >
    </p>

    <ion-button
      class="margin-top-cancel"
      fill="outline"
      color="medium"
      expand="block"
      (click)="closeModal()"
      >Cancel</ion-button
    >
  </div>
</ion-content>
