<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Setup Pin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-setup-pin bg-style-1" color="content-bg-style-1">
  <div class="setup-pin">
    <h3 class="ion-text-center">
      <span *ngIf="page == 'enter-pin'; else confirmPin">Please enter pin</span>
      <ng-template #confirmPin>
        <span>Confirm your pin</span>
      </ng-template>
    </h3>
    <app-pin (onChange)="savePin($event)"></app-pin>
  </div>
</ion-content>
