<ion-header>
  <ion-toolbar>
    <ion-title>{{ "Please Enter Your PIN" | translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cancel();">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <p class="intro-text ion-text-center">
        Send To xxxx amount 90000
    </p> -->
    <p *ngIf="isLoginValid">&nbsp;</p>
    <p *ngIf="!isLoginValid" text-center style="color:red">{{ "Invalid PIN" | translate }}</p>
    <div style="width: 80% auto; height: 80%;" text-center large margin-vertical>
      <app-pin (keyup)="login($event)"></app-pin>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </div>
</ion-content>
  