<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mode && mode == 1">{{ "edit account" | translate }}</ion-title>
    <ion-title *ngIf="isMultisig &&  mode && mode == 0">{{ "view account" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <b>{{ "account name" | translate }}</b>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="isMultisig &&  mode && mode == 0">
      <ion-col>       
          {{account.name}}        
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mode && mode == 1">
      <ion-col>
        <ion-input padding="false" placeholder="{{ 'please enter your account name' | translate }}"
          [(ngModel)]="account.name"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label color="danger">
          {{validationMessage}}&nbsp;
        </ion-label>
      </ion-col>
    </ion-row>

    <div *ngIf="account && isMultisig &&  mode == 0">
      <ion-row>
        <ion-col>
          <ion-label>
            <b>{{ "participants" | translate }}</b>
          </ion-label>
        </ion-col>
      </ion-row>
      <div *ngIf="isMultisig">
        <ion-row *ngFor="let participant of participants; let i = index; trackBy: customTrackBy">
          <ion-col size="12">
            <ion-label> 
            <h5>{{ participants[i] }}</h5>
          </ion-label>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <ion-row *ngIf="isMultisig &&  mode == 0">
      <ion-col class="ion-text-center">
        <h5>{{ "scan this QRCode to import this multi-signature account" | translate}}</h5>
        <div *ngIf="accountJSON">
          <ngx-qrcode [qrc-value]="accountJSON"
           cssClass="qrcode"
           errorCorrectionLevel="L">
          </ngx-qrcode>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isMultisig &&  mode && mode == 0">
      <ion-col class="ion-text-center">
        <ion-button strong  (click)="ExportAccount()" color="tertiary" type="submit">
          <span>{{"export to file"|translate}}</span>
        </ion-button>
        <ion-button strong  (click)="copyToClipboard()" color="tertiary"  type="submit">
          <span><ion-icon name="copy"></ion-icon> {{"copy"|translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>


    <ion-row *ngIf="account &&  mode == 1">
      <ion-col>
        <ion-button strong color="tertiary" (click)="UpdateAccount()" type="submit" expand="block">
          <span>{{"update"|translate}}</span>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="account &&  mode == 1">
      <ion-col>
        <ion-button expand="block" color="tertiary" routerLink="/list-account" fill="outline" expand="block">
          {{ "cancel" | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>