<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>
          <h5>Import Account</h5>
          <p>Please select file</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <input type="file" (change)="uploadFile($event.target.files)">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="close(0)">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>