<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="mode==='new'">{{ "Add Address" | translate }}</ion-title>
    <ion-title *ngIf="mode==='edit'">{{ "Edit Address" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        Feedback
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="stacked">{{ "Name" | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input placeholder="{{ 'Please type the name' | translate }}" [(ngModel)]="name" name="name"
          autocomplete="on" autocorrect="on" (ionChange)="sanitize()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8 align-self-end>
        <ion-label position="stacked">{{ "Address" | translate }}</ion-label>
      </ion-col>
      <ion-col col-4 align-self-end class="ion-text-right btnScanner">
        <ion-icon name="qr-scanner" (click)="scanQRCode();"></ion-icon><span (click)="scanQRCode();" style="font-size: 0.6em;"> Scan QR</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-textarea *ngIf="mode==='new'" rows="3" (ionChange)="sanitize()" placeholder="{{ 'Please type the address' | translate }}"
          [(ngModel)]="address" name="address" autocomplete="on" autocorrect="on">
        </ion-textarea>

        <ion-textarea *ngIf="mode==='edit'" rows="3" (ionChange)="sanitize()" readonly placeholder="{{ 'Please type the address' | translate }}"
          [(ngModel)]="address" name="address" autocomplete="on" autocorrect="on">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label color="danger">{{validationMessage}}&nbsp;</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button strong color="secondary" (click)="saveAddress()" type="submit" expand="block">
          <span *ngIf="mode==='new'">{{ "Save" | translate }}</span>
          <span *ngIf="mode==='edit'">{{ "Update" | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
          <ion-button expand="block" [routerLink]="['/address-book']" fill="outline" expand="block">
            {{ "Cancel" | translate }}
          </ion-button>
        </ion-col>
      </ion-row>  
  </ion-grid>

</ion-content>