<ion-header no-shadow no-border>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>      
      <ion-title>{{ "Setup PIN" | translate }}</ion-title>
      <ion-buttons slot="end" color="primary">
          <ion-button routerLink="/feedback">
            Feedback
          </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
   
  <ion-content class="ion-padding background" fullscreen>
    <ion-progress-bar *ngIf="processing" color="light" type="indeterminate"></ion-progress-bar>

    <ng-template [ngIf]="pagePosition === 0">
        <p class="ion-text-center">{{ "Input your PIN" | translate }}</p>
        <app-pin (ionChange)="setupPin($event)"></app-pin>
    </ng-template>

    <ng-template [ngIf]="pagePosition === 1">
        <p class="ion-text-center">{{ "Confirm your PIN" | translate }}</p>
        <p *ngIf="loginFail" class="ion-text-center" style="color:yellow">{{ "Invalid PIN" | translate }}</p>
        <app-pin (ionChange)="confirmPin($event)"></app-pin>
    </ng-template>
  </ion-content>
  