.with-options{
  display: flex;
  align-items: center;

  span:first-child{
    word-break: break-word;
    line-height: 1.3;
  }

  span:last-child{
    margin-left: 1.8rem;
    display: flex;
    align-items: center;
  }
}