<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "List of Account" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="grey">
  <ion-fab ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="createNewAccount()"
      ><ion-icon name="add"></ion-icon
    ></ion-fab-button>
  </ion-fab>
  <div class="list-account-page">
    <ng-template #noData>
      <ion-item lines="none">
        <ion-label>{{ "You dont have any address" | translate }}</ion-label>
      </ion-item>
    </ng-template>

    <ion-list *ngIf="accounts.length >= 1; else noData">
      <ion-list-header>
        <ion-label><span>{{"Tap list to switch account" | translate}}.</span></ion-label>
      </ion-list-header>
     
      <ion-item-sliding *ngFor="let account of accounts; let i = index">
      <ion-item >
        <ion-label (click)="accountClicked(i)">
          <div class="title">{{ account.accountName }}</div>
          <div class="address">{{ account.address }}</div>
          <div class="created">
            {{"Created"|translate}}: {{ account.created | date: "short" }} 
          </div>
        </ion-label>
        <ion-icon slot="end" name="copy" (click)="copyAddress(i)"></ion-icon>
      </ion-item>
      <ion-item-options>
          <button color="success" (click)="editName(i)" class="tool"><ion-icon name="create"></ion-icon>{{ "Edit" | translate}}</button>
      </ion-item-options>
    </ion-item-sliding>

    </ion-list>
  </div>
</ion-content>
