 
  ion-item {
    .title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      color: var(--ion-color-dark);
    }
    .address {
      font-size: 0.9rem;
      color: var(--ion-color-medium);
      margin-bottom: 0.5rem;
      white-space: normal;
      font-weight: bold;
    }
    .created {
      font-size: 0.7rem;
    }
  }
