<ion-header>
  <ion-toolbar color="primary"  hideBackButton="true">
    <ion-title>{{ "transaction status" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-grid  style="margin-top:10%;">
    <ion-row>
      <ion-col class="ion-text-center">
        <img *ngIf="status" src="assets/images/checked.png" style="width:100px"/>
        <img *ngIf="!status" src="assets/images/cancel.png" style="width:100px"/>
      </ion-col>  
    </ion-row> 
    
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="dark">
            <h3 *ngIf="!status">{{ "transaction fail" | translate }}</h3>
            <h3 *ngIf="status">{{ "transaction successful" | translate }}</h3>
        </ion-text>
      </ion-col>  
    </ion-row>
    <ion-row style="margin-bottom:20px;">
        <ion-col class="ion-text-center">
            <ion-text *ngIf="status" color="dark">{{ "transaction will need a few seconds to confirmed" | translate }}.</ion-text>
            <ion-text *ngIf="!status" color="danger">{{ msg }}.</ion-text>   
        </ion-col>  
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
          <ion-button color="secondary" expand="block" (click)="close();">{{ "close" | translate }}</ion-button>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col class="ion-text-center">
          <ion-button color="secondary" fill="outline" expand="block" (click)="newTrx();">{{ "New Transaction" | translate }}</ion-button>
      </ion-col>
    </ion-row> -->

  </ion-grid>
</ion-content>