<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button> </ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'multisignature' | translate }} Draft</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngIf="draft">

    <ion-item-divider>
      <ion-label>
        <h2>Multisignature Info</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        <p>{{ 'participants' | translate }}:</p>
        <div class="ion-text-wrap" *ngFor="let participant of draft.multisigInfo.participants">
          <p class="val">- {{ participant.value | shortAddress}}</p>
        </div>
        <p>Nonce: <span  class="val">{{draft.multisigInfo.nonce}}</span></p>
        <p>Min Signature: <span  class="val">{{draft.multisigInfo.minSigs}} address(es)</span></p>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h2>{{txTypeLabel(draft.txType)}}:</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>
        <ng-container *ngFor="let item of innerTx">
          <p>{{ item.key | translate }}:
            <span class="val" *ngIf="!item.isAddress">{{ item.value }}</span>
            <span class="val" *ngIf="item.isAddress">{{ item.value.value | shortAddress}}</span>
          </p>
        </ng-container>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        <h2>{{ 'draft transaction hash' | translate }}</h2>
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <p>{{draft.signaturesInfo.txHash | shortAddress}}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>