// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Gotham-XLight";
  src: url("./assets/fonts/Gotham-XLight.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Gotham-XLight.otf") format("opentype"),
    url("./assets/fonts/Gotham-XLight.woff") format("woff"),
    url("./assets/fonts/Gotham-XLight.ttf") format("truetype"),
    url("./assets/fonts/Gotham-XLight.svg#Gotham-XLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Montserrat-Bold.otf") format("opentype"),
    url("./assets/fonts/Montserrat-Bold.woff") format("woff"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype"),
    url("./assets/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Light";
  src: url("./assets/fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Gotham-Light.otf") format("opentype"),
    url("./assets/fonts/Gotham-Light.woff") format("woff"),
    url("./assets/fonts/Gotham-Light.ttf") format("truetype"),
    url("./assets/fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: normal;
  font-style: normal;
}

.page-title {
  font-family: var(--font-family-title);
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 3rem;
}

.label {
  font-family: "Montserrat-Bold";
}

a {
  color: black;
  text-decoration: none;
}

.info-list {
  .info-label {
    font-size: 0.8rem;
  }
  .info-desc {
    font-size: 1.1rem;
    color: #333;
  }
}

.separator {
  border-bottom: 1px solid #dedede;
  height: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
