// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");
:root,
:root[mode="md"],
:root[mode="ios"] {
  --ion-font-family: "Lato", sans-serif;
  font-family: var(--ion-font-family) !important;
}

// ion-toolbar {
//   --color: white;
// }
// ion-content {
//   --ion-background-color: #eee;
//   ion-item {
//     --ion-background-color: #eee;
//   }
//   ion-list {
//     background: #eee !important;
//   }
//   ion-searchbar {
//     --background: #eee !important;
//   }
//   ion-checkbox {
//     --background: #eee !important;
//   }
// }


.list-transaction {
  // .title {
  //   font-size: 0.8rem;
  //   color: #666;
  // }
  // .date {
  //   margin-top: 3px;
  //   font-size: 0.9rem;
  // }
  .amount {
    // font-family: "Montserrat-Bold";

    // &.plus {
    //   color: green;
    // }
    // &.minus {
    //   color: red;
    // }

    &.receive {
      color: green;
    }
    &.send {
      color: red;
    }

    &.pending {
      color: #5e5e5e;
    }
  }
}

.select-zbc {
  // Applies a text wrap on ion options
  .alert-tappable.alert-radio {
    height: auto;
    contain: content;
  }

  .alert-radio-label.sc-ion-alert-md {
    white-space: normal;
  }

  .alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
  }

  .div.alert-radio-label.sc-ion-alert-md {
    white-space: normal;
  }

  .div.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
  }

  div.alert-radio-label.sc-ion-alert-md {
    white-space: normal;
  }

  div.alert-radio-label.sc-ion-alert-ios {
    white-space: normal;
  }
}

.alert-zbc {
  .alert-head {
    background-color: rgb(87, 171, 209);
  }

  .alert-message {
    padding: 15px;
    margin-top: 10px;
  }

  .alert-message.sc-ion-alert-md {
    max-height: none;
    max-width: none;
    width: 100%;
    height: 100%;
  }

  .alert-message.sc-ion-alert-ios {
    padding: 15px;
    max-height: none;
    max-width: none;
    width: 100%;
    height: 100%;
  }
}

// .tab-selected {
//   background: #5675a9;
// }

.logo-container {
  text-align: center;

  img {
    max-width: 80px;
    height: auto;
  }
}

.modal-zbc {
  // opacity: 0.9 !important;
  .modal-wrapper {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%
  }
}

.invalidPin {
  color: rgb(255, 255, 93);
}

.background-pin {
  --color: #fff;
  --background: transparent;
  --background: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.background-bcz {
  --color: #fff;
  --background: transparent;
  --background: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}
// .modal-fullscreen {
//   .modal-wrapper {
//       position: absolute;
//       top: 0;
//       left: 0;
//       display: block;
//       width: 100%;
//       height: 100%;
//       max-height: 100%;
//       max-width: 100%;
//   }
// }

ion-title{
  font-size: 1.0em;
}