
.account-day {
  color: #000000;
}
.account-night {
  color: #ffffff;
}
.account-zoobc {
  color: #ffffff;
}

.bg-header-night{
  --background: transparent;
  background: url("src/assets/images/background-night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.bg-header-zoobc{
  --background: transparent;
  background: url("src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.bg-header-day{
  --background: transparent;
  background: url("src/assets/images/background-day.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}

ion-content{
  ion-col{
      text-align: center;
      ion-item{
          .amount{
            font-size: 1.3em;
          }
          .sufix{
            font-size:0.7em;
          }
      }
      ion-icon{
          zoom: 2.8;
          padding: 3px;
          &:first-child{
              zoom: 2.8;
              padding: 3px;
          }
      }
      h2,h1{
          margin-top: 0;
          font-size: 1.1em;
      }
      ion-card{
          text-align: center;
          box-shadow: none !important;
      }

  }
}