<app-sidemenu></app-sidemenu>
<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ZooBC Testnet</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSendFeedbak()">
        {{ "feedback" | translate }}
      </ion-button>
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="{{ 'Refreshing' | translate }} ...">
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="theme" class="bg-header-{{theme}}">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <img src="assets/images/logo-white.png" width="60px" class="logo" />
            <ion-label *ngIf="account" (click)="switchAccount()" color="dbbalance">
              <h1 class="name">{{ account.name }}</h1>
              <p class="shortaddres">{{ account.address | shortAddress }}</p>
            </ion-label>
            <span style="font-size: 0.7em;">
              <ion-icon name="arrow-dropdown" color="dbbalance" (click)="openListAccount()">
              </ion-icon>
            </span>
          </ion-item>
          <ion-item  lines="none">
            <ion-label color="dbbalance">
              <p  style="font-size:0.9em">{{ "balance" | translate }}</p>
              <ion-text class="amount">{{ accountBalance.balance/1e8 | number: '0.0-2' }} <span class="sufix">ZBC</span>
              </ion-text>
              <p style="font-size:1.2em">
                ( {{ (accountBalance.balance / 1e8) * priceInUSD *
                currencyRate.value | number: '0.0-2' }}
                <span class="sufix">{{ currencyRate.name }}</span>)
              </p>
              <p class="spendable"  style="font-size:0.9em">{{ "spendable balance" | translate }}</p>
              <ion-text class="amount">
                {{ accountBalance.spendablebalance/1e8 | number: '0.0-2' }} <span class="sufix">ZBC</span>
              </ion-text>
              <p  style="font-size:1.2em">
                ( {{ (accountBalance.spendablebalance / 1e8) * priceInUSD *
                currencyRate.value | number: '0.0-2' }} <span class="sufix">{{ currencyRate.name }}</span>
                )
              </p>
            </ion-label>
          </ion-item>
          <ion-item class="ion-text-right" lines="none">
            <ion-label class="last-refresh" color="dbbalance">{{"last refresh" | translate}}:
              {{lastBalanceUpdated}}&nbsp;&nbsp;</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="isLoadingBalance" style="margin-top: 5px;">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </div>
  <ion-grid class="menu-grid">
    <ion-row>
      <ion-col size="3">
        <ion-card (click)="openListAccount()" color="secondary">
          <ion-icon name="wallet"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "accounts" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card (click)="sendCoin()" color="secondary">
          <ion-icon name="arrow-round-up" ></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "send" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card [routerLink]="['/receive']" color="secondary">
          <ion-icon name="arrow-round-down" ></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "receive" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card routerLink="/transactions" color="secondary">
          <ion-icon name="swap"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "transactions" | translate }} </h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card routerLink="/my-tasks" color="secondary">
          <ion-icon name="reorder"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "my tasks" | translate }}</h2>
        </ion-text>
      </ion-col>
      <ion-col size="3">
        <ion-card routerLink="/multisig" color="secondary">
          <ion-icon name="key"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "multisignature" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card routerLink="/multisig" (click)="scanQrCode()" color="secondary">
          <ion-icon name="qr-scanner" ></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "scan" | translate }}</h2>
        </ion-text>
      </ion-col>


      <ion-col size="3">
        <ion-card routerLink="/address-book" color="secondary">
          <ion-icon name="people"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "contacts" | translate }}</h2>
        </ion-text>
      </ion-col>


      <ion-col size="3">
        <ion-card (click)="openBlog()" color="secondary">
          <ion-icon name="paper"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "blog" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card routerLink="/applist" color="secondary">
          <ion-icon name="apps"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "apps" | translate }}</h2>
        </ion-text>
      </ion-col>

      <ion-col size="3">
        <ion-card routerLink="/settings" color="secondary">
          <ion-icon name="settings"></ion-icon>
        </ion-card>
        <ion-text>
          <h2 class="smallerText">{{ "settings" | translate }}</h2>
        </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid style='border:1px solid #cccccc; background-color: #dddddd;'> 
    <ion-row>
      <ion-col class="ion-text-left ion-no-padding">
        <ion-list *ngIf="!error;else errorContent">
          <ion-item lines="none">
            <ion-label slot="start" color="secondary">
            <p style="font-size:1.2em">Crypto News</p>
            </ion-label>
          </ion-item> 
          <ion-item *ngFor="let news of newsList.slice(0, 1); let i = index">
            <ion-label class="ion-text-wrap" color="secondary">
              <h1 (click)="visitSite(news.url)" style="font-size: 1.5em; margin-bottom:10px;">{{news.title}}</h1>
              <!-- <p>{{news.published_on | date :  "dd.MM.y"}}</p> -->
              <p> 
                <img src="{{news.imageurl}}" style="margin-right:10px; margin-bottom:10px; width:100px;" align="left">
                {{news.published_on * 1000| date :  "dd MMM y"}}<br/>{{news.body}}
              </p>
              <p style="text-align: right;" (click)="visitSite(news.url)">read more ...</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-label slot="end" color="secondary">
            <p style="text-align: right; font-size:1.2em" routerLink="/news">Show all news ><p>
          </ion-label>
          </ion-item>
        </ion-list>
        <ng-template #errorContent>
          <p><span style="color: red;">{{error}}</span></p>
        </ng-template>
        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>