ion-input{
    border: 1px solid #cccccc;
}

ion-textarea{
    border: 1px solid #cccccc;
    margin-top: 0px;
}

.btnScanner{
    font-size: 1.6em; 
    margin-top:20px; 
    color: #0b3d65;
}

ion-icon{
    font-size: 0.6em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
