<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'sell zoobc' | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{"feedback" | translate}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
      <h5>{{ 'sell zoobc' | translate }} <i>({{ 'coming soon' | translate }})</i></h5>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'sell from account' | translate }}</ion-label>
      <ion-textarea  rows="1" placeholder="{{ 'sell from account' | translate }}..." >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'buyer address' | translate }}
      </ion-label>
      <ion-textarea rows="1" placeholder="{{ 'buyer address' | translate }}..." >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'amount sell (zbc)' | translate }}
      </ion-label>
      <ion-input type="number" placeholder="{{ 'amount' | translate }}..."></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'amount you will get' | translate }}
      </ion-label>
      <ion-input type="number" placeholder="{{ 'amount' | translate }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'fee' | translate }}
      </ion-label>
      <ion-input type="number" placeholder="{{ 'Fee' | translate }}..." ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ 'timeout' | translate }}
      </ion-label>
      <ion-input type="number" placeholder="input timeout in height"></ion-input>block
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="secondary">
          <span>{{ 'send' | translate }}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>