<ion-header>
  <ion-toolbar>
    <ion-title>sell-coin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Sell From account</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Buyer Address
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount Sell (ZBC)
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Amount you will get
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Fee
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
