<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Sell coin" | translate }}</ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "Feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
      <h5>(Coming Soon)</h5>
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ "Sell From account" | translate}}</ion-label>
      <ion-textarea  rows="1">kLuJ-Sf3QkZf3l-Eig7fNq_5FzyTyovB3l6mpivPolKu</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "Buyer Address" | translate }}
      </ion-label>
      <ion-textarea rows="1">dUT-Sf3QkZf3l-Eig7fNq_5FzyTyovB3l6mpivMYshO</ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "Amount Sell" | translate }}
      </ion-label>
      <ion-input>20 ZBC</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "Amount you will get" | translate }}
      </ion-label>
      <ion-input>19.99 ZBC</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "Fee" | translate }}
      </ion-label>
      <ion-input>0.01 ZBC</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "Timeout" | translate }}
      </ion-label>
      <ion-input>10 days</ion-input>
    </ion-item>
  </ion-list>
</ion-content>