.cMiddle{
  padding-top: 20px;
  height: 50%;
}

.cBottom{
  margin-bottom: 20px;
}

.scroll-content {
  margin-bottom: 0!important;
}

.logo{
  margin-top: 70px;
  height: 60px;
  width: 60px;
}

.btnNew{
  margin-bottom:10px;
}

ion-toolbar {
  // --background: transparent;
  --ion-color-base: transparent !important;
}

ion-footer {
  // --background: transparent;
  --ion-color-base: transparent !important;
}
