<ion-header no-border no-shadow>
  <ion-toolbar color="primary">
    <ion-select slot="start" style="margin-right:8px;" color="primary" interface="action-sheet"
      [(ngModel)]="activeLanguage" (ionChange)="selectActiveLanguage()">
      <ion-select-option *ngFor="let language of languages" value="{{ language.code }}">
        {{ language.country }}
      </ion-select-option>
    </ion-select>
    <ion-title></ion-title>
    <ion-buttons slot="end" color="primary">
      <ion-button routerLink="/feedback">
        {{ "Feedback" | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="initial-page ion-padding background-zoobc" fullscreen>
  <ion-grid style="height: 100%; display: flex; flex-flow: column;">

    <ion-row style="flex-shrink: 0;">
      <ion-col class="ion-text-center">
        <img src="assets/images/logo-color.png" class='logo' />
      </ion-col>
    </ion-row>

    <ion-row style="flex-grow: 1;">
      <ion-col class="ion-text-center" style="padding-top:40px">
        <ion-label color="light">
        <h3>{{ "Welcome to ZooBC" | translate }}</h3>
        <p>{{ "The easy way to send, receive " | translate }} <br />
          {{ " ZooBC" | translate }}</p>
        </ion-label> 
      </ion-col>
    </ion-row>

    <ion-row style="flex-shrink: 0;">
      <ion-col class="ion-text-center" style="padding-bottom: 60px;">
        <ion-button expand="block" class="btnNew" color="tertiary" routerLink="/generate-passphrase">
          {{ "Create New Wallet" | translate }}</ion-button>
        <ion-button expand="block" color="dbred" routerLink="/existing-wallet">
          {{ "Open Existing Wallet" | translate }} </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>