.cMiddle{
  padding-top: 20px;
  height: 50%;
}

.cBottom{
  margin-bottom: 20px;
}

.scroll-content {
  margin-bottom: 0!important;
}

.logo{
  margin-top: 70px;
  height: 60px;
  width: 60px;
}

.btnNew{
  margin-bottom:10px;
  --background: purple;
}

.opnExisting{
  color: white;
  background-color: transparent;
  --border-color: purple;
}

ion-footer {
  --ion-color-base: transparent !important;
}

.background-zoobc{
  --background: transparent;
  background-image: url("src/assets/images/zoobc.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
