<ion-header no-border no-shadow>
  <ion-toolbar>
    <ion-select slot="start" color="light" interface="action-sheet"
      [(ngModel)]="activeLanguage" (ionChange)="selectActiveLanguage()">
      <ion-select-option *ngFor="let language of languages" value="{{ language.code }}">
        {{ language.country }}
      </ion-select-option>
    </ion-select>
    <ion-button slot="end" fill="clear" (click)="goToFeedback()" color="light">FeedBack</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background-zoobc" fullscreen>
  <div class="content">
    <div class="welcome-container">
      <p><img src="assets/images/logo-color.png" class='logo' /></p>
      <ion-text color="light">
        <h3 class="welcome ion-text-center">{{ "Welcome to ZooBC" | translate }}</h3>
        <p class="ion-text-center">{{ "The easy way to send, receive ZooBC" | translate }}</p>
      </ion-text>
    </div>
    <div>
      <ion-button expand="block" class="btnNew" routerLink="/explanation-screen">
        {{ "create new wallet" | translate }}</ion-button>
      <ion-button expand="block"  class="opnExisting" fill="outline" routerLink="/existing-wallet">
        {{ "open existing wallet" | translate }} </ion-button></div>
    </div>
</ion-content>